[2018-11-01 13:27] PeterPetrik opened #1 "sign the package"

[2018-11-01 14:01] robintw opened #2 "Installer not working on MacOS < 10.14 (due to missing Dark Theme NSAppearanceNameDarkAqua)"
When installing from the Dropbox link (https://t.co/7d0tRcROUr - found on Twitter), the installation works fine, but when I try and load QGIS it fails giving an error:
[code]

And the following details for the error:

[code]

[2018-11-01 14:09] PeterPetrik opened #3 "add gdal binaries to bundle"
/usr/local/Cellar/gdal2/2.3.2/bin/

[2018-11-01 14:16] saberraz commented on #2
@robintw many thanks for testing...we will look into that shortly.

[2018-11-01 14:17] PeterPetrik opened #4 "add grass7 to installation"
c++ plugin
processing

[2018-11-01 14:17] PeterPetrik opened #5 "write license shown to user"

[2018-11-01 14:30] PeterPetrik opened #6 "add SAGA to the installation"
binaries

[2018-11-01 14:33] PeterPetrik commented on #2
dark theme was introduced in 10.14 and this package was built with 10.14 SDK compiler. The problem is https://github.com/qgis/QGIS/blob/master/src/native/mac/qgsmacnative.mm#L125
[code]

[2018-11-02 09:08] PeterPetrik opened #7 "The readme popup on installation doesn’t look too good in dark mode"

[2018-11-05 07:31] PeterPetrik opened #8 "Setup Mac Server on cloud"

[2018-11-08 08:12] #8 closed

[2018-11-08 12:30] PeterPetrik commented on #6
https://github.com/lutraconsulting/qgis-mac-packager/commit/540f0efbe5f73f974cc18cc8f5ad17e85cfa07b7

[2018-11-08 12:30] #6 closed

[2018-11-08 13:01] #5 closed

[2018-11-08 16:14] #1 closed

[2018-11-09 10:01] PeterPetrik opened #9 "update to qt 5.12"
http://blog.qt.io/blog/2018/11/08/qt-macos-10-14-mojave/

[2018-11-12 09:21] PeterPetrik opened #10 "Install screen design"
/Application folder and QGIS.app folder are reversed, small and without arrow

[2018-11-12 09:26] PeterPetrik opened #11 "Allow arbitrary install location and renaming of the installed application"
Right now everything goes into /Applications/QGIS.app

we want /Applications/QGIS-LTR.app QGIS-nightly.app or similar

[2018-11-12 10:47] saberraz opened #12 "no module named pyscopg2"
Got "no module named pyscopg2" on startup - what am I missing?

[2018-11-12 11:01] PeterPetrik commented on #12
Probably missing dependency of some of the installed plugins?

[2018-11-12 11:08] PeterPetrik commented on #12
patch: https://github.com/lutraconsulting/qgis-mac-packager/commit/f0d3ec0fbe184861a53b8743650ce6a96a172dcd

[2018-11-12 11:50] PeterPetrik commented on #12
fixed

[2018-11-12 11:50] #12 closed

[2018-11-12 15:42] PeterPetrik commented on #2
http://doc-snapshots.qt.io/qt5-5.12/macos.html#target-platforms

https://developer.apple.com/library/archive/documentation/DeveloperTools/Conceptual/cross_development/Using/using.html#//apple_ref/doc/uid/20002000-SW6

[2018-11-12 18:35] Malauch opened #13 "QGIS crashes on start because of Py_InitializeEx"
I just tried to install QGIS3 from your builds (latest and nightly versions). All of them has crashed during start up. Splash screen was displayed and then crash.

Error message:
[code]

[2018-11-13 08:17] PeterPetrik commented on #13
@Malauch thanks for reporting this. I am unable to replicate it locally so I am wondering if I can ask you for some additional info

- Do you have Python installed on the system? Which version 2.x, 3.x? Homebrew/MacPorts/Conda/Direct?
- Do you have PYTHONHOME or PYTHONPATH or PYTHON* in environment (`env | grep -i python`)

[2018-11-13 09:07] PeterPetrik commented on #13
What is does when you run `open /Applications/QGIS.app`

[2018-11-13 09:41] PeterPetrik commented on #2
QGIS patched: https://github.com/qgis/QGIS/commit/b2ba38dfaf56060777d03b9597dc4882c31c6a87

@JesusLopTem @jasonferrier @robintw can you please test **today's nighly** build https://www.dropbox.com/s/1aajkgosjxiszdd/qgis_nightly_master_20181113_042650.dmg?dl=0 and let me know if it works? Thanks

If it works we will backport the patch to 3.4 and next PR will have this fix too.

[2018-11-13 09:56] JesusLopTem commented on #2
Not work for me. The error "QGIS cannot be opened because of a problem...." still appears.

[2018-11-13 10:10] PeterPetrik commented on #2
@JesusLopTem

Can you attach report too? Is it still `Symbol not found: _NSAppearanceNameDarkAqua` or something different?

[2018-11-13 10:20] JesusLopTem commented on #2
Of course, here it is
`Process:               QGIS [65584]
Path:                  /Applications/QGIS.app/Contents/MacOS/QGIS
Identifier:            org.qgis.qgis2
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           QGIS [65584]
User ID:               501

Date/Time:             2018-11-13 11:18:17.749 +0100
OS Version:

[2018-11-13 10:41] robintw commented on #2
Yeah still the same error for me too.

[2018-11-13 12:46] PeterPetrik commented on #2
@robintw @JesusLopTem
bear with me :) found/fixed another problem. can you try this one please?
https://www.dropbox.com/s/wi82p4fsab2xe1a/qgis_nightly_master_20181113_062537.dmg?dl=0

[2018-11-13 12:49] robintw commented on #2
Unfortunately not, same error. Details below (in case any of the subtle details are different):

[code]

[2018-11-13 12:53] JesusLopTem commented on #2
yes, same here

[2018-11-13 13:32] PeterPetrik commented on #2
uff...
tried another patch https://github.com/PeterPetrik/QGIS/blob/macos_darktheme_fix/src/native/mac/qgsmacnative.mm#L
128
suggested https://pfandrade.me/blog/adopting-dark-mode-and-older-macs/

Could you please try with https://www.dropbox.com/s/1j5yvbyxyb46nq0/qgis_nightly_master_20181113_081354.dmg?dl=0

[2018-11-13 13:51] JesusLopTem commented on #2
Not yet for me, sorry :( error changes from volumes to applications

Dyld Error Message:
  Symbol not found: _NSAppearanceNameDarkAqua
  Referenced from: /Applications/QGIS.app/Contents/MacOS/../Frameworks/qgis_native.framework/qgis_native
  Expected in: /System/Library/Frameworks/AppKit.framework/Versions/C/AppKit
 in /Applications/QGIS.app/Contents/MacOS/../Frameworks/qgis_native.framework/qgis_

[2018-11-13 14:37] PeterPetrik commented on #2
@JesusLopTem thank you very much...
one more, added `-weak_framework <framework_name>` flag to linker

https://www.dropbox.com/s/eiod2drbkmfj4dx/qgis_nightly_master_20181113_090935.dmg?dl=0

[2018-11-13 15:22] JesusLopTem commented on #2
almost.... app open but crash on start...here is the report

`Process:               QGIS [68790]
Path:                  /Applications/QGIS.app/Contents/MacOS/QGIS
Identifier:            org.qgis.qgis3
Version:               3.5.0 (3.5.0 [])
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           QGIS [68790]
User ID:               501

Date/Time:             2

[2018-11-13 16:06] PeterPetrik commented on #2
@robintw @jasonferrier @JesusLopTem can you try this one? https://www.dropbox.com/s/jbkq4uw33wi05ud/qgis_nightly_master_20181113_104807.dmg?dl=0
we tried on Sierra and it looks that it works

[2018-11-13 16:22] PeterPetrik commented on #2
🎉 🎉 🎆 🍾

[2018-11-13 16:22] #2 closed

[2018-11-13 20:03] Malauch commented on #13
I tried all methods. Always the same result, the crash.
Please see the screen record: https://www.dropbox.com/s/bgtfigj6eetrlva/Nagranie%20z%20ekranu%202018-11-13%20o%2013.04.40.mov?dl=0

[2018-11-13 20:09] saberraz commented on #13
Could you try this:
https://www.dropbox.com/s/jbkq4uw33wi05ud/qgis_nightly_master_20181113_104807.dmg?dl=0

[2018-11-13 20:11] mapninja opened #14 "Nightly builds requiring macOS 10.14"
The release page says Nightly Builds are supported on 10.11+, but both nightly builds I just tried prompted that 10.14 was required to run the app.

[2018-11-13 20:15] saberraz commented on #14
@mapninja a PR is going to fix the issue in the main QGIS and the packages will be updated tomorrow.
https://github.com/qgis/QGIS/pull/8477

Meanwhile you can install this:
https://www.dropbox.com/s/jbkq4uw33wi05ud/qgis_nightly_master_20181113_104807.dmg?dl=0

[2018-11-13 20:17] mapninja commented on #14
Rocking. Thanx!

[2018-11-13 20:18] #14 closed

[2018-11-13 20:21] mapninja commented on #14
Just a heads up that the file you linked in the above comment has the same issue. Requires 10.14

[2018-11-13 20:38] mapninja commented on #14
That's great. I have unsuccessfully installed it on 10.13.6.
![screenshot 2018-11-13 12 36 44](https://user-images.githubusercontent.com/1517244/48441647-e4f53b00-e740-11e8-8428-c50133028011.png)

[2018-11-13 21:52] saberraz commented on #14
Could you try and run it from terminal:
`cd /Applications/QGIS/QGIS.app/Contents/MacOS`
`./QGIS`

[2018-11-13 21:58] mapninja commented on #14
That fired it up, with the usual plugin errors (should have nuked that folder before install). Here's the startup mesgs:

[code]

[2018-11-13 22:09] saberraz commented on #14
It is due to the python path which is picking 2.7 from the system and not the bundled frameworks.

[2018-11-13 22:10] mapninja opened #15 "Nightly Build, no processing tools"
Installed from Nightly Build. Was able to circumvent [#14](https://github.com/lutraconsulting/qgis-mac-packager/issues/14) by launching from terminal, but I get no processing tools. No processing menu, panel, etc...

macOS 10.13.6 and this nightly:
https://www.dropbox.com/s/jbkq4uw33wi05ud/qgis_nightly_master_20181113_104807.dmg?dl=0

[2018-11-13 22:28] saberraz opened #16 "Missing owslib python module"
Required by MetaSearch plugin

OS: High Sierra (10.13.6)

[2018-11-13 22:29] saberraz opened #17 "Missing yaml python module"
Required by processing plugin

OS: High Sierra (10.13.6)

[2018-11-13 22:31] mapninja commented on #15
I did a clean install, purged the "~/Library/Application\ Support/QGIS/QGIS3" folder and still no good.

I tried prepending the PATH to the bundled Python 3.7, but no luck:
"/Applications/QGIS.app/Contents/Frameworks/Python.framework/Versions/3.7/bin:"

[2018-11-13 22:56] saberraz commented on #15
This is related to a missing dependency for the Processing Plugin #17

[2018-11-13 23:02] mapninja opened #18 "BTW, this is a much needed effort. Thank you!"
BTW, this is a much needed effort on the part of macOS users. The work you are doing is much appreciated. Thank you! I'll continue to try to test builds out and troubleshoot.

[2018-11-14 07:38] PeterPetrik commented on #13
@Malauch
Do you have Python installed on the system? Which version 2.x, 3.x? Homebrew/MacPorts/Conda/Direct?

[2018-11-14 07:50] saberraz opened #19 "PYTHONHOME is not set"
When I try to run QGIS from terminal (not possible to run from Application due to #14), it comes up with:
`Consider setting $PYTHONHOME to <prefix> `
`ModuleNotFoundError: No module named 'encoding' `

Mac OS: 10.13

![image](https://user-images.githubusercontent.com/2649047/48467785-dca10c80-e7e1-11e8-9856-30bd39af8ab2.png)

[2018-11-14 07:54] saberraz commented on #19
If I set the PYTHONHOME to /Applications/QGIS.app/Contents/Frameworks/Python.framework/Versions/Current it will work

For those with similar problem: in terminal:
`export PYTHONHOME=/Applications/QGIS.app/Contents/Frameworks/Python.framework/Versions/Current`

[2018-11-14 10:19] PeterPetrik opened #20 "add netcdf support"
https://github.com/OSGeo/homebrew-osgeo4mac/issues/521

[2018-11-14 13:59] PeterPetrik commented on #17
@saberraz can you please test with https://www.dropbox.com/s/69f3u5ow9pa8whz/qgis_nightly_master_20181114_084148.dmg?dl=0

[2018-11-14 13:59] PeterPetrik commented on #16
@saberraz can you please test with https://www.dropbox.com/s/69f3u5ow9pa8whz/qgis_nightly_master_20181114_084148.dmg?dl=0

[2018-11-14 13:59] PeterPetrik commented on #15
@saberraz @mapninja  can you please test with https://www.dropbox.com/s/69f3u5ow9pa8whz/qgis_nightly_master_20181114_084148.dmg?dl=0

[2018-11-14 14:54] saberraz commented on #15
@PeterPetrik it is working for me now but with some workarounds to bypass #19

[2018-11-14 14:56] #17 closed

[2018-11-14 14:56] #16 closed

[2018-11-14 14:57] saberraz opened #21 "Missing dateutil module for Python"
Mac OS 10.13

[2018-11-14 15:02] JesusLopTem commented on #15
No processing tools also in El Capitan 10.11.6 with this late nightly

[2018-11-14 15:08] PeterPetrik commented on #15
@JesusLopTem
any missing python packages reported in the python log console/console?

[2018-11-14 15:40] JesusLopTem commented on #15
oops, no python console in menu

[2018-11-14 15:40] saberraz commented on #15
I can confirm that there is also no Python support for Sierra (10.12)

[2018-11-14 15:44] saberraz commented on #15
I am closing this and opening a new ticket.

[2018-11-14 15:44] #15 closed

[2018-11-14 15:46] saberraz opened #22 "Python 3.7 references unavailable symbol _futimens on 10.11 and 10.12"
There is no Python support for El Capitan and Sierra.

[2018-11-14 17:41] piulintos opened #23 "Several Python modules missing (Matplotlib, yaml, pyparsing, owslib, future)"
After installing QGIS_pr_final_3_4_1_20181112_06200, I got several warnings about missing modules:
No Python module matplotlib,
Module pip has no attribute "main"
No module yaml,
No module pyparsing,
No module owslib,
No module future.
Running macOS Mojave 10.14.

[2018-11-14 19:05] PeterPetrik opened #24 "cronjob unable to codesign"
https://stackoverflow.com/questions/53307092/unable-to-sign-macos-application-from-cronjob

[2018-11-14 19:57] PeterPetrik commented on #23
Hi, thank you for reporting this issue. Can you please try with today's build?

https://www.dropbox.com/s/qaebez909evgdwb/qgis_pr_final-3_4_1_20181114_144434.dmg?dl=0

[2018-11-14 20:15] PeterPetrik commented on #21
@saberraz can you try with this one please? https://www.dropbox.com/s/oq3cq9ttewp3uck/qgis_nightly_master_20181114_145615.dmg?dl=0

[2018-11-14 20:31] piulintos commented on #23
Thanks @PeterPetrik for the fast reply. I tried today's build (qgis_pr_final-3_4_1_20181114_144434). Some issues are solved, but others are still present:
Missing matplotlib Python module,
Module 'pip' has no attribute 'main',
No module pyparsing,
No module dateutil.

Modules **yaml**, **owslib** and **future** are not reported anymore as missing.
As for the **dateutil** module, which wasn't an is

[2018-11-14 20:43] saberraz commented on #21
Still it complains about the same missing module.

[2018-11-14 20:56] saberraz commented on #23
Here is the full list shipped with OSGeo4W: https://download.osgeo.org/osgeo4w/x86_64/versions.html
python-certifi, 2017.7.27.1-1
python-chardet, 3.0.4-1
python-core, 2.7.14-1
python-cycler, 0.10.0-1
python-dateutil, 2.6.0-1
python-decorator, 4.1.2-1
python-devel, 2.7.14-1
python-enum34, 1.1.6-1
python-exifread, 2.1.2-1
python-funcsigs, 0.4-2
python-functools32, 3.2.3.post2-1
python-future, 0.15.2

[2018-11-14 21:03] piulintos commented on #23
Thanks, @saberraz. From the list, all three 'missing' modules - **pip**, **pyparsing** and **dateutil** - should be recognized.

[2018-11-15 10:38] PeterPetrik commented on #19
https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/LaunchServicesKeys.html#//apple_ref/doc/uid/20001431-106825

[2018-11-15 12:35] PeterPetrik commented on #24
fixed by switching to launchd

[2018-11-15 12:35] #24 closed

[2018-11-15 13:56] PeterPetrik commented on #9
depends on when homebrew-core updates qt to 5.12

[2018-11-15 17:41] mojodna commented on #13
I'm experiencing the same problem.

System Python 2.7.10 (`/usr/bin/python`)
Homebrew Python 2.7.15 (pkg: `python@2`, `/usr/local/bin/python`)
Homebrew Python 3.7.1 (pkg: `python`, `/usr/local/bin/python3`)
Python.org Python 3.6.5 (`/Library/Frameworks/Python.framework/Versions/3.6/bin/python3`)

No.

I've set `PATH` to (only) each of the Pythons installed and it crashes for each, e.g.:

[code]

[2018-11-15 17:44] mojodna commented on #13
(Both `qgis_pr_final-3_4_1_20181114_144434.dmg` and `qgis_nightly_master_20181113_104807.dmg`)

[2018-11-16 07:55] PeterPetrik commented on #22
this is upstream bug in python3.x see https://bugs.python.org/issue31601

[2018-11-16 08:01] PeterPetrik commented on #21
working for https://www.dropbox.com/s/wabszoic6rx397k/qgis_nightly_master_20181116_012525.dmg?dl=0

[2018-11-16 08:01] #21 closed

[2018-11-16 11:16] Malauch commented on #13
I didn't install anything before installing QGIS from that package. It was clear MacOS installation.

[2018-11-16 11:25] JesusLopTem opened #25 "Latest nightly build crashes on start"
**Describe the bug**
Latest nightly build (qgis_nightly_master_20181116_051333) crashes on start on 10.11.6
**Additional information**
From terminal: LSOpenURLsWithRole() failed with error -10810 for the file /Applications/QGIS.app.
 codesign --verify --verbose /Applications/QGIS.app
/Applications/QGIS.app: valid on disk
/Applications/QGIS.app: satisfies its Designated Requirement

[2018-11-16 11:44] saberraz commented on #25
I can confirm that. At the moment, everything is broken for 10.13. We are reconsidering support for >10.13 as there are so many upstream blockers in Python, Homebrew and other packages.

[2018-11-16 12:17] JesusLopTem commented on #25
Previous nightly (qgis_nightly_master_20181116_012525) works fine except for the known python issues

[2018-11-16 12:21] PeterPetrik commented on #25
new build will be in ~hours, hopefully with the fix

[2018-11-16 13:20] JesusLopTem commented on #25
No luck. qgis_nightly_master_20181116_063515 crash again, error -10810...

[2018-11-16 15:39] saberraz commented on #25
![image](https://user-images.githubusercontent.com/2649047/48631105-c3e95000-e9b5-11e8-8e67-18dd972966d3.png)

[2018-11-16 21:38] mapninja commented on #4
Latest build has no GRASS7. SAGA tools seem to not run properly. Installs, and runs native QGIS tools, though! Getting there!

OS version: macOS 10.13.6
installer:
<img width="1680" alt="screen shot 2018-11-16 at 1 21 26 pm" src="https://user-images.githubusercontent.com/1517244/48648259-8aa7e480-e9a3-11e8-9be8-4112116cf38e.png">

[2018-11-16 21:46] mapninja commented on #4
Here's the message from the SAGA tool

[code]

[2018-11-16 21:46] mapninja opened #26 "(SAGA) Duplicate libwx_osx_cocoau_core library bundled"
SAGA tools not working. Errors below

OS version: macOS 10.13.6
installer: qgis_nightly_master_20181116_063515

[code]

_Originally posted by @mapninja in https://github.com/lutraconsulting/qgis-mac-packager/issue_comments#issuecomment-439539080_

[2018-11-17 08:30] saberraz commented on #25
This may well be due to python path. I have manually exported the path and ran the app from terminal and all works (in 10.13).

[2018-11-17 08:44] saberraz commented on #13
Hi @Malauch and @mojodna
Could you open QGIS from terminal:

`open /Applications/QGIS.app`

[2018-11-17 08:48] JesusLopTem commented on #25
How can I export the path?

[2018-11-17 08:58] saberraz commented on #25
Which MacOS version are you using?

[2018-11-17 08:59] saberraz commented on #13
You will need to move QGIS to the Application and it should work. It seems to be an issue with running it directly from the disk image.

[2018-11-17 08:59] #13 closed

[2018-11-17 09:10] JesusLopTem commented on #25
10.11.6

[2018-11-17 09:10] saberraz commented on #19
For 10.13 and 10.14 it works fine. For 10.11 and 10.12 it is duplicate of #22

[2018-11-17 09:10] #19 closed

[2018-11-17 09:11] saberraz commented on #25
Check with #22  This is an upstream issue with Python.

[2018-11-17 09:31] JesusLopTem commented on #25
Thanks Sab!

[2018-11-17 09:39] Malauch commented on #13
I have tried a moment ago latest nightly build and it works fine both for opening from terminal and opening by clicking the icon.
Latest stable build is still crashing.

[2018-11-17 19:49] mojodna commented on #13
The latest nightly build (`qgis_nightly_master_20181116_161910.dmg`) launches fine for me from Finder (after copying into Applications). Nice!! Thank you!!!

[2018-11-17 22:40] PeterPetrik opened #27 "Latest build has wrong path GRASS7 dir"
OS version: macOS 10.13.6
installer: qgis_nightly_master_20181116_063515
<img width="1680" alt="screen shot 2018-11-16 at 1 21 26 pm" src="https://user-images.githubusercontent.com/1517244/48648259-8aa7e480-e9a3-11e8-9be8-4112116cf38e.png">

_Originally posted by @mapninja in https://github.com/lutraconsulting/qgis-mac-packager/issues/4#issuecomment-439537057_

[2018-11-17 22:57] PeterPetrik commented on #27
also cmake command on nightly builds says "Could not find GRASS7"

[2018-11-17 22:58] PeterPetrik opened #28 "Nightly builds randomly fails to detect GEOS"
"Could not determine GEOS version from framework."

but GEOS is taken from homebrew so it is not a framework at all maybe wrong logic in FindGEOS.cmake ?

[2018-11-17 22:59] PeterPetrik commented on #11
This would be difficult since we have absolute paths for environment variables in "Info.plist", e.g. GRASS folder, PYTHONHOME, PYQGIS_START script, ...

[2018-11-17 23:11] PeterPetrik opened #29 "create aliases (bash) for most used server commands"

[2018-11-17 23:39] piulintos commented on #23
It started perfectly, thanks!

[2018-11-19 07:19] #29 closed

[2018-11-19 16:42] #28 closed

[2018-11-19 16:43] PeterPetrik commented on #10
maybe connected with error
[code]

[2018-11-19 16:50] JesusLopTem commented on #25
qgis_nightly_master_20181119_111923 crash again on startup, latest nightly that don't crash in OSX 10.11.6 is qgis_nightly_master_20181116_161910

[2018-11-19 17:03] saberraz commented on #25
Hi @JesusLopTem
I can confirm the issue. Lets wait for @PeterPetrik before opening the issue. I think he is working on it.

[2018-11-19 18:08] PeterPetrik commented on #25
@JesusLopTem thanks for staying in testing, hopefully clean build in ~hour can fix this as last time
if so, I would probably avoid incremental builds

[2018-11-19 22:12] JesusLopTem commented on #25
No problem @PeterPetrik, happy to help. Unfortunately qgis_nightly_master_20181119_142421 doesn't work. From the problem report:

Crashed Thread:        0  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_BAD_INSTRUCTION (SIGILL)
Exception Codes:       0x0000000000000001, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

Application Specific Information:
/Applications/Q

[2018-11-20 10:03] JesusLopTem commented on #25
Latest three nightly masters (20181120_025125, 20181120_032906, 20181120_040246) keep crashing on start.
[code]

[2018-11-20 10:14] PeterPetrik opened #30 "QGIS is damaged and cannot be opened"
![image](https://user-images.githubusercontent.com/804608/48766778-7ae71380-ecb5-11e8-91a7-7362857a46e4.png)

[2018-11-20 10:16] PeterPetrik commented on #30
http://osxdaily.com/2016/09/27/allow-apps-from-anywhere-macos-gatekeeper/
https://apple.stackexchange.com/questions/104712/what-causes-os-x-to-mark-a-folder-as-quarantined

This can be caused by downloading the installer by web browser that automatically flags downloaded files as quarantined

To run QGIS:
[code]

after first launch you should be able to run the application normally

[2018-11-20 12:57] PeterPetrik commented on #30
strange is that with some builds it was ok, with some we have this dialog.

[2018-11-20 13:02] saberraz commented on #25
works with https://www.dropbox.com/sh/cc3615b1zd7ruwz/AAA-y5bGLnhYYM9J-MmYQum5a/qgis_nightly_master_20181120_072113.dmg?dl=0

[2018-11-20 13:02] #25 closed

[2018-11-20 13:05] PeterPetrik commented on #25
@JesusLopTem https://www.dropbox.com/s/riczwaoe599r2fl/qgis_nightly_master_20181120_072113.dmg?dl=0

this one should work

[2018-11-20 13:06] PeterPetrik commented on #27
working for https://www.dropbox.com/s/riczwaoe599r2fl/qgis_nightly_master_20181120_072113.dmg?dl=0

[2018-11-20 13:06] #27 closed

[2018-11-20 13:09] PeterPetrik commented on #20
If I build gdal2 with --with-complete it has netcdf4 support but on some computers it triggers https://github.com/lutraconsulting/qgis-mac-packager/issues/25  Crash is due to initialization of GDAL static variable in wms/minidriver.cpp .
Bottled GDAL2 from osge4mac does not have netcdf, but does not crash anywhere.

One explanation could be that bottled gdal is compiled on earlier macOS, other one

[2018-11-20 13:10] PeterPetrik commented on #26
@mapninja can you test with https://www.dropbox.com/s/riczwaoe599r2fl/qgis_nightly_master_20181120_072113.dmg?dl=0 ?

[2018-11-20 13:16] JesusLopTem commented on #25
No more crash. Thanks!

[2018-11-20 13:31] PeterPetrik opened #31 "Remove references to homebrew"
`grep -rni "/usr/local/Cellar/"  /Applications/QGIS.app` shows a bunch of references to homebrew installations. Remove those

[2018-11-20 14:48] PeterPetrik opened #32 "Add SAGA support for some platforms"
relates to https://github.com/lutraconsulting/qgis-mac-packager/issues/20

running saga_cmd on some platforms triggers "Illegal instruction 4" similar to gdal2 build.

[2018-11-20 15:19] PeterPetrik commented on #20
https://docs.brew.sh/Bottles

[2018-11-20 15:30] JesusLopTem opened #33 "Plugins repository not available for 10.11"
Plugins repository appears as not available when try to connect it
OS X 10.11.6
Maybe related to #22?
This error makes repository also unavailable to 3.4.1-4 version.

[2018-11-20 15:45] PeterPetrik commented on #33
plugins are python-based, so I do not expect them working without python support

[2018-11-20 16:12] PeterPetrik commented on #30
after removal of all directories but QGIS it shows different window
<img width="421" alt="screenshot 2018-11-20 at 17 11 30" src="https://user-images.githubusercontent.com/804608/48786623-80f5e800-ece7-11e8-975a-233e800885d7.png">

[2018-11-20 16:17] #33 closed

[2018-11-20 16:47] PeterPetrik commented on #30
looks like X11 libraries are picked from XQuarz package installed by cask https://github.com/Homebrew/homebrew-cask/blob/master/Casks/xquartz.rb

and they are signed by Apple. So the verification fails since it is not our signature

[2018-11-20 20:49] saberraz commented on #20
Now works in:
https://www.dropbox.com/sh/cc3615b1zd7ruwz/AABVWxRW3sLBXpEbAx8Di18xa/qgis_nightly_master_20181120_111516.dmg?dl=0

Try on other platforms and hopefully we can close this.

[2018-11-20 20:53] saberraz commented on #32
works in https://www.dropbox.com/sh/cc3615b1zd7ruwz/AABVWxRW3sLBXpEbAx8Di18xa/qgis_nightly_master_20181120_111516.dmg?dl=0

[2018-11-20 21:14] saberraz commented on #32
It is not working for 10.11 and 10.12 because of #22
Closing this but feel free to open if Python is resolved and still this is an issue.

[2018-11-20 21:14] #32 closed

[2018-11-20 21:15] #20 closed

[2018-11-20 21:16] saberraz commented on #26
@mapninja try this:
https://www.dropbox.com/sh/cc3615b1zd7ruwz/AABVWxRW3sLBXpEbAx8Di18xa/qgis_nightly_master_20181120_111516.dmg?dl=0

[2018-11-21 08:57] PeterPetrik opened #34 "Add script for doing staging build from PR"
so we can go to some PR commit, build package and test

[2018-11-21 09:56] saberraz opened #35 "Crash on start (QGIS 3.4.1) when not installed in /Applications"
Process:               QGIS [26811]
Path:                  /Users/USER/*/QGIS.app/Contents/MacOS/QGIS
Identifier:            org.qgis.qgis3
Version:               3.4.1 (3.4.1 [])
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           QGIS [26811]
User ID:               501

Date/Time:             2018-11-21 11:51:19.995 +0200
OS Version:            Mac OS X 1

[2018-11-21 09:59] PeterPetrik commented on #35
@saberraz `/Users/USER//QGIS.app/Contents/Frameworks/qgis_gui.framework/Versions/3.4/qgis_gui` suggests it is not installed in `/Applications`. That is not allowed due to https://github.com/lutraconsulting/qgis-mac-packager/issues/11

[2018-11-21 15:42] PeterPetrik commented on #22
maybe use python from https://www.python.org/downloads/

[2018-11-22 06:41] saberraz commented on #35
Closing this as I am sure it will be resolved by #11

[2018-11-22 06:41] #35 closed

[2018-11-22 06:42] saberraz commented on #18
hi @mapninja have you tried the latest releases?

[2018-11-22 07:08] PeterPetrik opened #36 "postgis homebrew formula renamed"
https://github.com/OSGeo/homebrew-osgeo4mac/commit/8f40045e1bf113bf334372205df3037c6d4c17cc

use postgis2

[2018-11-23 04:11] fgfletcher commented on #11
Being able to just rename the app would be very helpful.  During testing I often keep several QGIS versions in order to be able to switch between them for comparisons - e.g., QGIS_3_4_1_11-22.
Retrieving the running app name would allow its insertion into what now seem to be absolute paths dependent on finding "/Applications/QGIS.app".

[2018-11-23 07:06] PeterPetrik commented on #26
Unable to replicate anymore on my PC, closing

[2018-11-23 07:06] #26 closed

[2018-11-26 09:08] PeterPetrik commented on #11
@fgfletcher Thank you for comment, this is definitely on my plan.

Wondering what exactly you propose, wrapping executable in some bash script? Or somehow possible to do in Info.plist? Do you have some example?

[2018-11-29 23:20] Spartacus1 opened #37 "Use different names for LTR, PR and NIGHTLY releases"
Just to say that this compilation is probably the best available for now. Working very good.
I just want to ask if the name of the app can be QGIS3.app instead of QGIS.app. This will allow users to use the previous LTR at the same time. by using QGIS.app, the previous version will be replaced.
Thank you for all your effort.

[2018-11-30 07:54] PeterPetrik commented on #37
Hi, thanks!

related to https://github.com/lutraconsulting/qgis-mac-packager/issues/11

[2018-11-30 11:09] PeterPetrik commented on #36
fixed https://github.com/lutraconsulting/qgis-mac-packager/commit/d2a68ecd9a73d48ff677897996d5fc7f96794ef3

[2018-11-30 11:09] #36 closed

[2018-11-30 11:16] #34 closed

[2018-11-30 11:18] PeterPetrik commented on #9
https://github.com/Homebrew/homebrew-core/blob/master/Formula/qt.rb

[2018-11-30 14:09] PeterPetrik commented on #37
Renamed (https://github.com/lutraconsulting/qgis-mac-packager/commit/d939212b9ac86153989907919faace4aaa3d2b07)

please check
PR: QGIS3.4.2.app https://www.dropbox.com/s/dm0crl1y33783df/qgis_pr_final-3_4_2_20181130_083659.dmg?dl=0
NIGHTLY: QGIS3.5.app will come later today

[2018-11-30 14:09] #37 closed

[2018-11-30 14:17] PeterPetrik opened #38 "improve scripts on error"
when make install fails, the error is not caught and the bundling continues from the previous build

[2018-11-30 15:48] Spartacus1 commented on #37
Outstanding Peter! Thank you for your nice effort.
This version it’s working perfectly.
You were quick to change the name of the app!
I’ll be testing the 3.5NB.
Best Regards

--
Renato Henriques
Department of Earth Sciences
Campus de Gualtar
University of Minho
4710-057, Braga - Portugal
Tel +351 253604031
rhenriques@dct.uminho.pt
www.uminho.pt

[2018-12-02 10:38] JesusLopTem opened #39 "Detached panels missing on hide"
If you open one or more detached panels (processing tools, layers style or any other), all of them disappear when you hide Qgis and have to reopen them from menu.

Qgis 3.4.2 on 10.11.6 and 10.14.1

[2018-12-02 13:20] saberraz commented on #39
In my case, they do not minimize with QGIS application and stay open. Not sure if this is an upstream bug or related to this package.

[2018-12-02 16:52] soli004 opened #40 "Background color can not be changed in Canvas & Legend settings"
**Describe the bug**

Using latest version of QGIS version 3.4 and also tried latest dev of 3.5 on OSX 10.14.1
Issues is that you are not able to change the background from the default white to any other color. If trying to change you do get an Python error that does not seems to be related to the issue...
"RuntimeError: wrapped C/C++ object of type ShortestPathBetweenPoints has been deleted"

No

[2018-12-02 17:31] Spartacus1 commented on #40
Try menu Project->Properties->General and then changed the Background color of the project. No problems here. The problem do occur when you try to change the background for any project from the general Preferences. In this case there will occur a crash and the plugin that is named in the "RuntimeError: wrapped C/C++ ..." usually varies. In my case is the ContourPlugin but it can be other. This is

[2018-12-02 22:31] soli004 commented on #40
Thank you, yes that did work...

[2018-12-02 22:31] #40 closed

[2018-12-03 07:20] saberraz commented on #40
I suggest to open a ticket on QGIS:
https://issues.qgis.org/projects/qgis/issues

[2018-12-03 08:05] #38 closed

[2018-12-03 10:55] AsgerPetersen opened #41 "How to install python packages"
Is there a way to install further python packages in this build?

I have tried using pip from the QGIS python console like:
[code]

But the installed module cannot be `import`ed even after a restart of QGIS.

[2018-12-03 14:08] PeterPetrik commented on #41
@AsgerPetersen thanks for reporting the issue. Does this approach work when using other MacOS QGIS packages? Also I want to ask if you tried to close QGIS, and `/usr/local/bin` to PATH as suggested and start QGIS again?

the install location seems to be the homebrew's default one, maybe related. to https://github.com/lutraconsulting/qgis-mac-packager/issues/31

[2018-12-03 15:18] PeterPetrik commented on #41
Definitely the install path is wrong. But my point is that where it should be, or where it is for other distributions/OS/packages? I think somewhere in user's QGIS folder?

[2018-12-03 21:35] AsgerPetersen commented on #41
Ah.

I think packages are tightly connected to the interpreter. So I am not sure installing in user's QGIS folder is a good idea.

Packages installed with the app are installed in `/Applications/QGIS3.4.2.app/Contents/Resources/python/`. If it is possible to write to that folder it would probably be a good place to put it.

Looking at the [pip documentation](https://pip.pypa.io/en/stable/user_guid

[2018-12-05 08:44] Spartacus1 opened #42 "Saving dialog"
All the QGIS3.5 latest betas always ask for saving a project after opening when we still are in the recent projects list.

MacOS version (e.g. 10.14.2)

[2018-12-05 10:06] PeterPetrik commented on #42
@Spartacus1 can you please do screencast and append here? not sure if I understand it

[2018-12-05 13:56] Spartacus1 commented on #42
Hi Peter

I’m out for fieldwork for a few hours. Tonight I’ll send a video.
Best Regards

No dia 05/12/2018, às 10:06, Peter Petrik <notifications@github.com> escreveu:

[2018-12-05 17:56] saberraz commented on #42
I can't replicate your issue. It could be related to your profile. Worth starting with a fresh profile and see if you can reproduce the issue.

Also, I think it might be related to the QGIS and not packaging.

[2018-12-06 00:37] Spartacus1 commented on #42
See the error from the following video. A save dialogue appears from nothing and it's impossible to close the "Credits" window without press "Don't save". Version 3.4.2 it is rock stable.

https://www.dropbox.com/s/a39wv03sqk2amg7/QGIS8_5_OPEN_ERROR.mp4?dl=0

[2018-12-06 07:08] PeterPetrik commented on #42
This could be upstream issue.

[2018-12-06 08:54] PeterPetrik opened #43 "X11 dependency"
https://github.com/OSGeo/homebrew-osgeo4mac/issues/544

[2018-12-06 13:09] Spartacus1 commented on #42
Probably Peter. However do not worry too much. This is not a bug that can disrupt any workflow. Probably it will be solved by itself. The only thing strange is that QGIS3.4 does not suffer from this issue.

[2018-12-06 13:13] saberraz commented on #42
I have opened this ticket on QGIS bug tracker:
https://issues.qgis.org/issues/20741

[2018-12-06 13:13] #42 closed

[2018-12-07 11:00] spatialthoughts opened #44 "DB Manager broken due to pyspatialite error"
DB Manager is broken for Geopackage or Spatialite databases due to a pyspatialite error (see errorlog attached) This issue also exists in  KyngChaos packages. Linux and Windows packages do not have this issue. It has been [reported](https://gis.stackexchange.com/questions/216848/pyspatialite-installation-error-on-macosx-qgis-plugin/216874#216874) by other users also.

To reproduce
- Connect to a G

[2018-12-07 11:01] spatialthoughts commented on #44
[errorlog.txt](https://github.com/lutraconsulting/qgis-mac-packager/files/2656941/errorlog.txt) attached

[2018-12-07 11:14] saberraz commented on #44
Also confirmed in master (3.5). This is likely to be related to QGIS and sqlite/spatialite driver

[2018-12-07 11:16] PeterPetrik commented on #44
the link from stackoverflow suggests it is wrong path in python installation , probably NOT upstream bug

[2018-12-12 08:10] Malauch commented on #9
When it is going to be updated to QT 5.12? I'm just curious because I hope it would solve problem with QGIS very slow performance on high screen displays with QT 5.10 and 5.11.

[2018-12-12 08:53] saberraz commented on #9
there is a bigger blocker atm with 5.10 and 5.11: #22
That aside, homebrew core appears to have added the support for qt 5.12

[2018-12-12 09:07] PeterPetrik commented on #9
I hope I can do it this week.

[2018-12-12 09:17] PeterPetrik commented on #9
that one is blocker for MacOS 10.11 and 10.12, not related to Qt at all

[2018-12-12 09:20] saberraz commented on #9
my bad!

[2018-12-12 15:07] PeterPetrik commented on #9
@saberraz @PeterPetrik updated PR release https://www.dropbox.com/s/i14wnupd20ohloh/qgis_pr_final-3_4_2_20181212_094236.dmg?dl=0
can you please check if it works ok with Qt5.12?

nightly release will come in ~5 hours as usually.

[2018-12-12 20:37] saberraz commented on #9
Checked master and it is indeed with Qt 5.12

[2018-12-12 20:59] saberraz commented on #9
QGIS 3.4.2 is now with Qt 5.12. Thanks @PeterPetrik

[2018-12-12 20:59] #9 closed

[2018-12-12 22:18] saberraz opened #45 "Support for MrSid"
GDAL comes with all drivers with no licencing restriction, please add the non-free ones too.

[2018-12-13 10:50] phborba opened #46 "Missing Qt driver for QGIS3.4.2 and Nightly"
**Describe the bug**
There is a Qt component called QtSql which is only enabled if you install/compile qt with the flag --with-postgresql

If this component is not installed, some plugins that use that package will not work. This issue happens in lutra's QGIS 3.4.2 and also on nightly builds. I've provided the 2 links that I have tested.

**Additional information**

- Add link to the installed pac

[2018-12-17 10:52] RemiDesgrange opened #47 "Using virtualenv for qgis"
Instead of installing package globaly, why not using a virtualenv, sorted in `/Applications/Qgis.app/Content/Resources` or other. I don't know well mac os packaging. But still could help rebuild qgis python module when broken without blowing up the whole system python.

If you can give me hint, I can try to put up a PR for this.

[2018-12-17 11:04] joaoponceleao commented on #47
A safer possibility might be to use pyenv (https://github.com/pyenv/pyenv). It's also on homebrew and that would allow Qgis to: 1) Use a specific python version. 2) Not have to worry about issues which sometimes crop up when using virtualenvs.

[2018-12-17 11:11] joaoponceleao opened #48 "Shared QGIS3 user preferences between various packages"
**All Qgis 3 packages (including kyngchaos) are using same preferences**

At the moment Qgis gets its preferences from the qgis3 preferences file somewhere in the mac library. These are shared amongst all Qgis 3 installations. This creates two issues:
1. One of the ideas behind this project is to have multiple minor version installations. They should therefore have multiple minor version preferenc

[2018-12-17 11:18] PeterPetrik commented on #47
Not sure if I understand the benefit of virtualenv/pyenv since this package has fully-bundled own python3 installation inside the bundle. So it does not interact with system/global python3 any way

[2018-12-17 11:20] PeterPetrik commented on #48
traditionally you want to share preferences between various qgis3 installations (so you do not need to reinstall things or reset your preferences after each update). But it would be maybe good idea to have different preferences folder for ALL qgis3 packages from qgis-mac-packager builds.

[2018-12-17 11:21] joaoponceleao commented on #47
In that case this is a non-issue. I noticed in issue #41 problems with installing python packages (binaries going in /usr/local/bin for example) so I wrongly *assumed* it was interacting with a global python. Sorry about that.

[2018-12-17 11:24] joaoponceleao commented on #48
Yes. I can certainly se the benefit of sharing preferences for all qgis3 coming from the same source. The issue here is more to do with the fact that kyngchaos needs Path changes within the qgis3 preferences file. Ideally he should not need it (did not use to be the case for qgis2).

[2018-12-17 11:34] PeterPetrik commented on #47
no problem at all, thank you for discussion. closing this

[2018-12-17 11:34] #47 closed

[2018-12-17 13:00] RemiDesgrange commented on #47
OK sorry, I though you were using python from the system. Sorry for the noise.

[2018-12-19 04:39] mapninja opened #50 "Grass76 tools not working"
OS: 10.14.1
Builds: https://www.dropbox.com/sh/qcr9a6ry25n4x91/AABUVhV04SPIlVrUWQFu6oVTa/qgis_pr_final-3_4_2_20181213_133326.dmg

https://www.dropbox.com/sh/qcr9a6ry25n4x91/AAD3FQLoeuqqjY8y1KgJ-jB7a/qgis_pr_final-3_4_2_20181218_123912.dmg

I'm testing installs by running the random point in extent from the QGIS tools, then v.voronoi from GRASS tools. I haven't seen a version able to run GRASS tool

[2018-12-19 05:34] saberraz commented on #50
@mapninja I can confirm the issue.

@PeterPetrik since you have updated the apps to have version numbers, the link in processing is still referring to QGIS.app:
![image](https://user-images.githubusercontent.com/2649047/50200891-c4c42780-034f-11e9-978a-946717701ef1.png)

[2018-12-21 11:39] PeterPetrik commented on #50
ok, it looks like that python-part of the grass-7 from homebrew depends on python2
https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/grass7.rb#L58

more:
https://github.com/OSGeo/homebrew-osgeo4mac/issues/228
and
https://github.com/OSGeo/homebrew-osgeo4mac/issues/452

Since this whole package is based on python3 (bundled), so first
1. we need to make sure GRASS is compatible with Pyt

[2018-12-21 11:43] PeterPetrik opened #51 "Remove python2 deps"
related to #50

[code]

[2018-12-24 15:34] phborba commented on #46
Sorry for the delay on answering you @PeterPetrik .

When I run `find /Applications/QGIS3.4.2.app -name "*QtSql*"` it outputs:
[code]

Although it outputs the same as you said, but when I go to `/Applications/QGIS3.4.2.app/Contents/Frameworks/QtSql.framework/` it seems that the symlinks point to conflicting paths. One test that I usually do on QGIS python console is the one bellow:

[code]
Filling

[2018-12-26 19:38] Spartacus1 commented on #50
Any new on this issue? I've tried to compile grass7 with python but no luck. The modules seem to work but fail to write the resulting files.
What path are you using in the tools settings?

[2018-12-27 12:32] neteler commented on #50
Which GRASS GIS version did you try?

[2018-12-27 14:06] Spartacus1 commented on #50
I my case, the installed Grass7 version is 7.4.3-3.

[2018-12-27 16:56] neteler commented on #50
This will not work with Python3, see #568 - you need at least GRASS GIS 7.7.

[2018-12-27 20:44] Spartacus1 opened #52 "Saga module not working"
I've been testing processing modules because of the Grass issue and found out that several are not working either. As far as I tested, SAGA and GDAL processing modules are also not working in QGIS 3.5 and in 3.4.3. **Both are working fine in 3.4.2.**

Test with a simple points shape file:
  - Saga - Vector point tops - Add coordinates to points (will fail)
- GDAL - vector geopreocessing - Buffer v

[2018-12-27 22:47] neteler commented on #50
I guess it would be sufficient to update the version number here accordingly:
https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/grass7.rb

[2018-12-28 23:47] Spartacus1 commented on #52
Hi ujavalgandhi. Try to install the version available from qgis.org. Then use this tip from the readme text:

********************************
"QGIS 3 does not find external tools needed for Processing.  Some configuration options are missing.  A workaround is to use QGIS custom variables.  Open QGIS Preferences → System.

- Under the Environment section, turn on Use Custom Variables.
- Add (+) a

[2018-12-30 23:57] Spartacus1 commented on #50
No luck here...

[2019-01-01 20:55] Spartacus1 commented on #52
Now QGIS 3.4.2 is not working too!!

[2019-01-03 17:02] sudahambil opened #53 "New Issue"
mitra consulting/qg8s-mac-packager

[2019-01-05 12:08] neteler commented on #50
Weekly snapshots are available here: https://grass.osgeo.org/grass77/source/snapshot/

[2019-01-05 18:55] Spartacus1 commented on #52
GDAL modules from processing failing and giving error like these ones:

GDAL command output:
dyld: Symbol not found: _iconv

Referenced from: /usr/lib/libmecab.1.0.0.dylib

Expected in: /Applications/QGIS3.5.app/Contents/MacOS/lib/libiconv.2.dylib

in /usr/lib/libmecab.1.0.0.dylib

[2019-01-07 07:10] PeterPetrik commented on #50
@neteler what do you suggest for QGIS 3.6 LTR ? I am confused what I am supposed to do now.
If I understand it correctly, currently there is no released-tagged version of GRASS that is python3-only. So
a) do we expect that there will be such (pre-)release so I can wait and then integrate that one OR
b) should I just bundle master/trunk (which is obviously far far from ideal because I am bundling s

[2019-01-07 07:32] PeterPetrik commented on #52
@Spartacus1 thanks for doing this testing. Unfortunately I need to finish some other projects until FF of QGIS, but after that I should have some time to focus on fixing the bugs for QGIS 3.6 official release in February. Feel free to ping me (hangout?) on peter.petrik@lutraconsulting.co.uk

I probably know what is broken, /usr/lib/libiconv.2.dylib is system library, but the packager thinks it is

[2019-01-07 07:33] PeterPetrik commented on #46
Thanks, I will look into this after QGIS's FF at the end of this month.

[2019-01-07 10:37] neteler commented on #50
ok, let's try to figure it out together :)

That's correct as of early Jan 2019.

While a) is definitely better (what is the timeline for you?), b) could be an interim option in order to prepare things.

I have drafted a GRASS GIS 7.8.0 roadmap right now: https://trac.osgeo.org/grass/milestone/7.8.0

[2019-01-07 10:49] PeterPetrik commented on #50
I will have time to work on this installed after QGIS Feature freeze (so in February). So maybe the plan could be

1) in february, use the release-7.8.0 branch in nightly builds
2) switch to released version once released and integrated into osgeo homebrew
3) have 7.8.0 official in QGIS 3.6 is all goes well?

sounds feasible?

[2019-01-07 14:19] Spartacus1 commented on #52
Great Peter. I'll be paying attention.

"I probably know what is broken, /usr/lib/libiconv.2.dylib is system library, but the packager thinks it is part of homebrew's libraries."

Probably the problem occurs with more libraries similar to this one. I don't remember which ones but there are similar problems with some other libraries in the same path. Probably the cause is the same that you are adva

[2019-01-08 21:33] neteler commented on #50
To me it sounds very good. From the GRASS GIS side we try to speed up as much as possible.

[2019-01-22 09:50] leonmvd opened #54 "Readability issues dark moge"
On several places the readability could be improved. Mostly text labels.

In this case Macintosh Style:

![screen shot 2019-01-22 at 10 46 58](https://user-images.githubusercontent.com/9214202/51526748-51707280-1e33-11e9-83f8-a877696b057c.png)
![screen shot 2019-01-22 at 10 46 38](https://user-images.githubusercontent.com/9214202/51526750-52a19f80-1e33-11e9-94d8-d26e6a4a538d.png)

or Fusion

![scr

[2019-01-22 10:07] PeterPetrik commented on #54
Hi, thank you for reporting Mac-related bugs.

there is already some work done (e.g. https://github.com/qgis/QGIS/pull/8738). Can you please create this ticket in https://issues.qgis.org/projects/qgis/issues, since this is not related to packaging, but QGIS code?

thanks!

[2019-01-22 10:08] #54 closed

[2019-01-22 10:11] wonder-sk commented on #54
Actually recently there has been a whole stream of pull requests in QGIS for both 3.4 and 3.6 fixing lots of issues in dark mode so these problems should go away in packages as well.

[2019-01-22 15:52] leonmvd commented on #54
https://issues.qgis.org/issues/21072

[2019-01-23 13:20] phborba commented on #46
Just a heads up, the bug still exists on 3.4.4 build

[2019-01-31 19:43] phborba commented on #46
@PeterPetrik , I have created a pull request trying to fix this problem, could you please take a look? Thanks!

[2019-02-01 13:54] PeterPetrik commented on #46
this is upstream problem in https://github.com/Homebrew/homebrew-core/blob/master/Formula/qt.rb
@phborba best if you raise the question upstream

i think that this may also be an ordering issue, maybe if we install postgresq BEFORE qt, qt configure may find it automatically on path?

[2019-02-02 15:46] fgfletcher commented on #45
Support of MrSID files of vital importance because many critical files, e.g., ortho photos, are available only in that format.  At present the Lutra Consulting QGIS packages are not usable for real projects because of missing MrSID support.

The free MrSID SDK are available, but only by direct download from Extensis (https://www.extensis.com/support/developers). It is not clear (to me) if they wou

[2019-02-06 07:53] saberraz opened #56 "Better distribution of the binary packages"
Sometimes it is difficult to find the latest package in the dropbox folder:
- It would be good to have older versions in a folder and only the latest outside.
- To be consistent with Windows builds, we can call the packages with the build: e.g. 3.4.5-1, 3.4.5-2, with dates, it is too long!

[2019-02-10 22:10] timlinux opened #57 "Dark theme legend illegible"
**Describe the bug**
Using 3.4.4 in dark mode

<img width="381" alt="screenshot 2019-02-11 at 00 08 38" src="https://user-images.githubusercontent.com/178003/52540365-5c168b80-2d91-11e9-991d-f38dbe122945.png">

[2019-02-11 09:32] nyalldawson opened #58 "Include proj-datumgrid package"
The proj-datumgrid package includes grid transform files which are required for accurate coordinate transformation in certain regions. Could this be included in the package so that these grid shift files are available "out of the box"?

https://github.com/OSGeo/proj-datumgrid

[2019-02-11 12:03] nirvn commented on #57
Backporting this commit, https://github.com/qgis/QGIS/commit/9200f538e9104927c6f77ca1e9514f90e49a4fbc , will fix this. It slipped through.

[2019-02-11 12:06] PeterPetrik commented on #57
thanks @nirvn

[2019-02-11 12:06] PeterPetrik commented on #57
fixed upstream

[2019-02-11 12:06] #57 closed

[2019-02-11 12:14] PeterPetrik opened #59 "Support for ECW format"
https://www.hexagongeospatial.com/products/power-portfolio/compression-products/erdas-ecw-jp2-sdk

[2019-02-11 13:42] nirvn commented on #57
https://github.com/qgis/QGIS/commit/4be150c58bfd063570cd559e59a1c59d0c82f155

[2019-02-11 14:05] PeterPetrik commented on #50
@neteler do you know if master from https://github.com/GRASS-GIS/grass-ci.git is good for my tests or I need to use svn release-7.8.0 branch. I assume there is no RC for 7.8 with python3 support yet.

[2019-02-11 14:11] PeterPetrik commented on #58
so I just need to unpack the repository to proj data folder as it is? or just subfolders (europe, oceania, ...)?

also how do I check in QGIS that it is installed and working correctly?

[2019-02-11 14:21] PeterPetrik commented on #46
asked upstream https://discourse.brew.sh/t/qt5-12-with-postgresql/4161?u=peterpetrik

[2019-02-11 15:13] grass-svn2git commented on #50
Well, we use it for creating docker images automatically (see  https://hub.docker.com/r/mundialis/grass-gis7-trunk). I think it is ok for this purpose. Then, as soon as a release branch is created (i.e. RC) then you could simply switch the path to the code.

[2019-02-11 15:37] PeterPetrik commented on #46
Ah! looks like the work is already done https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/qpsql.rb by @fjperini thanks! looks like we just need to add extra drivers

[2019-02-12 06:41] nyalldawson commented on #58
Initially yes -- the second part relies on something like https://github.com/qgis/QGIS/pull/9160

[2019-02-12 07:30] PeterPetrik commented on #58
hmm, I am thinking if it would not be better to somehow improve projection selection dialog in qgis and interactively be able to download required grids from the repo when needed similarly to plugin manager or something like that. Only requirement would be that proj package would need to be able to dynamically load multiple folders (e.g. sysmte proj folder, user profile folder) or something simila

[2019-02-12 08:03] PeterPetrik commented on #46
@phborba how can I test that it works , can you write me step to step guide? thanks

[2019-02-12 12:22] PeterPetrik commented on #56
as a workaround dropbox allows to sort files by modified column @timlinux

[2019-02-12 12:48] PeterPetrik commented on #7
looks readable to me.

<img width="642" alt="screenshot 2019-02-12 at 13 31 44" src="https://user-images.githubusercontent.com/804608/52635614-9d5e8680-2eca-11e9-8fae-35486cd5984e.png">
<img width="765" alt="screenshot 2019-02-12 at 13 31 53" src="https://user-images.githubusercontent.com/804608/52635615-9e8fb380-2eca-11e9-8b87-ee38d3d39c18.png">

[2019-02-12 12:51] PeterPetrik commented on #10
<img width="765" alt="screenshot 2019-02-12 at 13 31 53" src="https://user-images.githubusercontent.com/804608/52636574-4c03c680-2ecd-11e9-8cb5-d1e59cbb9dff.png">

[2019-02-12 14:09] PeterPetrik commented on #46
@phborba can you test with https://www.dropbox.com/s/ai69ubvt54oalty/qgis_pr_final-3_4_4_20190212_072324.dmg

[2019-02-12 15:04] #10 closed

[2019-02-12 15:05] PeterPetrik commented on #10
replaced create-dmg with https://github.com/al45tair/dmgbuild which has nicer design.

<img width="647" alt="screenshot 2019-02-12 at 16 00 44" src="https://user-images.githubusercontent.com/804608/52644828-dfde8e00-2edf-11e9-9554-ecbf8a438d0b.png">
<img width="643" alt="screenshot 2019-02-12 at 16 02 36" src="https://user-images.githubusercontent.com/804608/52644829-dfde8e00-2edf-11e9-824e-75c350

[2019-02-12 15:06] PeterPetrik commented on #7
fixed in #10

[2019-02-12 15:42] PeterPetrik commented on #39
@JesusLopTem how it should behave (or what is standard for MacOS)? Are we sure this is not system-wide settings how to handle dispatched dialogs?

[2019-02-12 16:00] PeterPetrik commented on #58
<img width="509" alt="screenshot 2019-02-12 at 16 59 25" src="https://user-images.githubusercontent.com/804608/52648908-94c87900-2ee7-11e9-9cd0-3369737dd5ea.png">

it looks like now it is around 250MB extra. Current size of the package is 360 MB. @nyalldawson do you know if it will grow rapidly or 250MB is pretty much final size of it?

[2019-02-12 16:44] JesusLopTem commented on #39
Hi @PeterPetrik. The standard in MacOS is maintain open windows when you hide an application and return to it, all applications, but Qgis, have this behavior. Qgis do, at least until version 3.2.0 but not in newer versions.

[2019-02-13 05:29] spatialthoughts commented on #44
@PeterPetrik I got the version you mentioned and still see the error. Let me know if I can give you additional debug info.

<img width="1164" alt="error_log" src="https://user-images.githubusercontent.com/5227506/52688892-4c0fcf00-2f7e-11e9-86d3-273221e21254.png">
<img width="1147" alt="error" src="https://user-images.githubusercontent.com/5227506/52688893-4c0fcf00-2f7e-11e9-9267-91d552ca46f3.png"

[2019-02-13 05:33] saberraz opened #60 "ImportError: No module named site for gdal_*.py"
[code]

[2019-02-13 05:43] saberraz commented on #60
Might be duplicate of https://github.com/OSGeo/homebrew-osgeo4mac/issues/668

[2019-02-13 08:04] saberraz opened #61 "QGIS can't be installed: unsecured source (Dropbox)"
![image](https://user-images.githubusercontent.com/2649047/52696073-00e9c200-2f66-11e9-9e8e-b191b0fa603f.png)

[2019-02-13 10:07] saberraz opened #62 "QGIS crash on start"
[code]

[2019-02-13 12:09] PeterPetrik commented on #44
@spatialthoughts can you give it another try please?  https://www.dropbox.com/s/9mdwobzn6ru5arb/qgis_pr_final-3_4_4_20190213_064551.dmg?dl=0

[2019-02-13 14:51] PeterPetrik commented on #52
unable to replicate locally with https://www.dropbox.com/s/9mdwobzn6ru5arb/qgis_pr_final-3_4_4_20190213_064551.dmg?dl=0. @Spartacus1 can you recheck? thanks

[2019-02-13 14:55] PeterPetrik commented on #60
so:

processing/gdal/merge.py calls `subprocess.Popen["gdal_merge.py", ...]`.
and `gdal_merge.py` starts with `#!/usr/bin/env python`.

for regular python console in QGIS , we need to patch system path to remove hardcoded system python (see https://github.com/lutraconsulting/qgis-mac-packager/blob/master/qgis-mac-packager/resources/pyqgis-startup.py).

I have suspicion that subprocess.call picks s

[2019-02-13 15:05] PeterPetrik commented on #46
@saberraz can you please test?

[2019-02-13 15:11] ianhorn commented on #46
Peter,

I’m not exactly sure what you are asking me to do.  I will be glad to test, and thank you for your help.

Ian

[2019-02-13 15:14] PeterPetrik commented on #46
you can install https://www.dropbox.com/s/ai69ubvt54oalty/qgis_pr_final-3_4_4_20190212_072324.dmg side-by-side with your official installation and see if the driver works

[2019-02-13 15:16] PeterPetrik commented on #62
@saberraz which installer?

what outputs
`ls -la /Applications/QGIS3.4.4.app/Contents/Frameworks/QtWebKit.framework/QtWebKit` ?

[2019-02-13 15:25] ianhorn commented on #46
Ok.  Thank you.  I will try in a little bit.

On Feb 13, 2019, at 10:14 AM, Peter Petrik <notifications@github.com<mailto:notifications@github.com>> wrote:

you can install https://www.dropbox.com/s/ai69ubvt54oalty/qgis_pr_final-3_4_4_20190212_072324.dmg side-by-side with your official installation and see if the driver works

—
You are receiving this because you commented.
Reply to this email dir

[2019-02-13 16:18] PeterPetrik commented on #61
@saberraz can you try

[code]

on both dmg and extracted application and send me output?

[2019-02-13 16:47] ianhorn commented on #61
Ians-iMac:Applications ianhorn$ codesign --verbose --deep-verify /Applications/QGIS3.app
/Applications/QGIS3.app: code object is not signed at all
In architecture: x86_64
Ians-iMac:Applications ianhorn$ codesign --verbose --deep-verify /Applications/QGIS3.4.4.app

/Applications/QGIS3.4.4.app: code object is not signed at all
In subcomponent: /Applications/QGIS3.4.4.app/Contents/Frameworks/QtWebKit

[2019-02-13 17:21] ianhorn commented on #61
I went back and reinstalled the version you sent me:

Ians-iMac:Applications ianhorn$ codesign --verbose --deep-verify /Applications/QGIS3.4.4.app
/Applications/QGIS3.4.4.app: a sealed resource is missing or invalid
In subcomponent: /Applications/QGIS3.4.4.app/Contents/Frameworks/Python.framework
Ians-iMac:Applications ianhorn$ code -d -vvvv /Applications/QGIS3.4.4.app
-bash: code: command not fou

[2019-02-13 17:35] ianhorn commented on #61
After installing the version you gave me, I still am getting the same errors when trying to creat an MSSQL connection.  I tried the gdalinfo command again and also go same results.

On Feb 13, 2019, at 12:21 PM, Ian Horn <ian.horn@ky.gov<mailto:ian.horn@ky.gov>> wrote:

I went back and reinstalled the version you sent me:

Ians-iMac:Applications ianhorn$ codesign --verbose --deep-verify /Applicati

[2019-02-13 21:23] phborba commented on #46
@PeterPetrik I'm downloading it and as soon as I test it, I'll let you know!

[2019-02-13 22:15] phborba commented on #46
I've just tested and the problem remains =/

On the official installation the driver works.

[2019-02-13 23:48] Spartacus1 commented on #52
Hi Peter

This version hangs on startup. Tested from the terminal and gave me the following message:

"  Reason: Incompatible library version: QGIS requires version 5.212.0 or later, but QtWebKit provides version 4.9.0
Abort trap: 6"

Cheers

[2019-02-14 07:34] saberraz commented on #61
Same error as above:
`/Applications/QGIS3.4.4.app: code object is not signed at all In subcomponent: /Applications/QGIS3.4.4.app/Contents/Frameworks/QtWebKit.framework
`
And on the dmg file:
![image](https://user-images.githubusercontent.com/2649047/52770430-f6453080-302a-11e9-8c77-7dd97ffea003.png)

[2019-02-14 07:36] saberraz commented on #61
`codesign -d -vvvv qgis....dmg:`
![image](https://user-images.githubusercontent.com/2649047/52770485-25f43880-302b-11e9-8393-9892110d8868.png)

[2019-02-14 07:48] saberraz commented on #61
`codesign -d -vvvv /Application/QGIS.3.4.4/`
![image](https://user-images.githubusercontent.com/2649047/52771074-d0b92680-302c-11e9-8ebc-78ce7d52b6e8.png)

[2019-02-14 07:50] saberraz commented on #61
`codesign --verbose --deep-verify /Applications/QGIS ....`
**`/Applications/QGIS3.4.4.app: code object is not signed at all In subcomponent: /Applications/QGIS3.4.4.app/Contents/Frameworks/QtWebKit.framework`**

[2019-02-14 07:52] saberraz commented on #62
@ianhorn would it be possible to respond to the tickets using github instead of email reply. It will make your response more readable. Many thanks.

[2019-02-14 07:54] saberraz commented on #62
It is the latest build (QGIS.3.4.4-13022019):
![image](https://user-images.githubusercontent.com/2649047/52771443-cf3c2e00-302d-11e9-8bfe-10aa65d7a856.png)

[2019-02-14 08:06] PeterPetrik commented on #62
Versions/Current/QtWebKit is missing... probably it is not extracted from dmg for any reason (security?)

[2019-02-14 08:51] PeterPetrik commented on #62
this is sideeffect of #10 where we changed the bundler. the new one has strange error:

`
dmgbuild -Dapp=QGIS-STAGING.app -s ../../../qgis-mac-packager/qgis-mac-packager/resources/dmgsettings.py QGIS-STAGING ~/tmp/test.dmg
ditto: /Volumes/QGIS-STAGING/QGIS-STAGING.app/Contents/Frameworks/QtWebKit.framework/Versions/5/QtWebKit: No space left on device
`

[2019-02-14 09:47] PeterPetrik commented on #61
This is sideeffect of #62, since QtWebKit binary is not present in the bundle at all. Can you please retest with
https://www.dropbox.com/s/26abu37gvtotfky/qgis_pr_final-3_4_4_20190214_041422.dmg?dl=0

[2019-02-14 09:47] PeterPetrik commented on #62
fixed with https://github.com/lutraconsulting/qgis-mac-packager/commit/179b1cb1937745522b063ba3ff43622b9778a9d6

now the virtual drive has 10GB size for beginning (should be enough since the actual data we need to get there is around 1.5 GB ATM)

@saberraz can you retest with https://www.dropbox.com/s/26abu37gvtotfky/qgis_pr_final-3_4_4_20190214_041422.dmg?dl=0

[2019-02-14 10:12] #62 closed

[2019-02-14 10:13] #61 closed

[2019-02-14 10:15] PeterPetrik commented on #52
fixed the error with QtWebKit in #62 , try https://www.dropbox.com/s/26abu37gvtotfky/qgis_pr_final-3_4_4_20190214_041422.dmg?dl=0 ?

[2019-02-14 10:21] saberraz commented on #44
It works fine in https://www.dropbox.com/s/26abu37gvtotfky/qgis_pr_final-3_4_4_20190214_041422.dmg?dl=0 to run the query. But loading the query as a layer is not possible.

@spatialthoughts if you could confirm, we can close this and open another one for loading the layer.

![image](https://user-images.githubusercontent.com/2649047/52780431-06b4d580-3042-11e9-88f5-f789c36f8b71.png)

[2019-02-14 10:27] saberraz commented on #52
For me, with the latest version (https://www.dropbox.com/s/26abu37gvtotfky/qgis_pr_final-3_4_4_20190214_041422.dmg?dl=0) GDAL algs work but none of SAGA algs working

[2019-02-14 11:22] PeterPetrik commented on #44
I am going to close this and if there is other issue, lets create new report in QGIS or here. @spatialthoughts please reopen if it does not work for you

[2019-02-14 11:22] #44 closed

[2019-02-14 11:30] saberraz commented on #46
In fact the problem is worse than what's been reported. The only driver supported is `QSQLITE`

@phborba what do you get if you open python console and type the followings:
[code]

[2019-02-14 11:56] PeterPetrik commented on #60
the same problem will be probably with the rest of the GDAL algorithms based on python script in "/usr/local/Cellar/gdal2-python/bin"

[code]

[2019-02-14 11:58] #51 closed

[2019-02-14 12:00] PeterPetrik commented on #22
This issue require considerable time to fix and funds were not raised in the crowdfunding in Feb 2019. It is put on hold until we got a sponsor for it or working PR to review.

[2019-02-14 12:04] phborba commented on #46
Only QSQLITE :/

Sent from my iPhone

[2019-02-14 12:50] PeterPetrik commented on #46
got it!

[code]

package soon!

[2019-02-14 13:14] PeterPetrik commented on #52
For GDAL python modules see https://github.com/lutraconsulting/qgis-mac-packager/issues/60

[2019-02-14 13:16] PeterPetrik commented on #52
@saberraz what error SAGA gives?

[2019-02-14 13:26] PeterPetrik commented on #46
@phborba @saberraz  can you test with https://www.dropbox.com/s/mx8njnkmbtcaq6x/qgis_pr_final-3_4_4_20190214_075146.dmg?dl=0

[2019-02-14 13:27] PeterPetrik commented on #41
@AsgerPetersen are there any packages you need to have bundled and are not present ATM in the bundle? I tried to bundle all packages that are in OSGeo4W.

If you need an extra package in the QGIS plugin, what we usually do it to get a wheel from distribution and bundle in your plugin. See for example
https://github.com/lutraconsulting/qgis-crayfish-plugin/blob/master/crayfish/gui/plot_widget.py#L3

[2019-02-14 14:28] saberraz commented on #52
It closes the window..so I can't see it (selected "keep the processing dialog open" but still closes it)

[2019-02-14 14:31] saberraz commented on #46
Nice one @PeterPetrik
The last build addressed the issue.

[2019-02-14 14:31] #46 closed

[2019-02-14 14:31] PeterPetrik commented on #60
It looks like python interpreter assumes we run 2.7, so it adds this number to all paths

[code]

[2019-02-14 14:33] saberraz commented on #52
![image](https://user-images.githubusercontent.com/2649047/52793373-80aa8600-3065-11e9-9cfb-c93796875ded.png)

[2019-02-14 15:06] AsgerPetersen commented on #41
I think having the same packages as in OSGeo4W is going to cover most use cases.

Thank you!

[2019-02-14 15:23] PeterPetrik commented on #41
Feel free to ping me on peter.petrik@lutraconsulting.co.uk if you need to discuss some additional packages to add. Closing this for now.

[2019-02-14 15:23] #41 closed

[2019-02-14 17:31] Spartacus1 commented on #52
Same here. modules do not work or fail to finish.

[2019-02-14 20:21] neteler commented on #50
Well, we use it for creating docker images automatically (see https://hub.docker.com/r/mundialis/grass-gis7-trunk). I think it is ok for this purpose. Then, as soon as a release branch is created (i.e. RC) then you could simply switch the path to the code.

[2019-02-14 22:25] Spartacus1 commented on #52
In the end something like this always appear in red:

"
Loading resulting layers
The following layers were not correctly generated.<ul><li>/private/var/folders/r_/12_57str8xggjl001s75rfhr0000gn/T/processing_410a496d70444937b9371d5643faeb4e/2ac1a63c437348ffa528b68070d19db5/OUTPUT.sdat</li></ul>You can check the 'Log Messages Panel' in QGIS main window to find more information about the execution of

[2019-02-15 07:18] PeterPetrik commented on #60
@saberraz can you test with https://www.dropbox.com/s/xnef8hekh0vkmuz/qgis_pr_final-3_4_4_20190214_111602.dmg?dl=0 ?

[2019-02-15 07:21] PeterPetrik commented on #60
<img width="1409" alt="screenshot 2019-02-14 at 17 11 39" src="https://user-images.githubusercontent.com/804608/52800258-a6428a00-307b-11e9-8560-73a5f2c4d203.png">

[2019-02-15 10:13] saberraz commented on #60
All works fine here. Thanks @PeterPetrik

[2019-02-15 10:18] #60 closed

[2019-02-15 14:08] PeterPetrik commented on #11
this is not possible technically with homebrew installation since some libraries have hardcoded paths in the compiled binaries.

[2019-02-15 16:07] PeterPetrik opened #63 "Fix nightly builds"
dmgbuild is not on Path

[2019-02-15 19:22] timlinux opened #64 "GDAL Python scripts don't work out the box"
Using QGIS 3.4.4 trying to merge two rasters:

[code]

Would be nice if it could work out the box with proper package search paths for GDAL python tools

[2019-02-15 19:43] timlinux commented on #64
Similar issue for gdal_buildvrt:

[code]

[2019-02-15 20:41] phborba commented on #46
Yay! It worked! Thanks a lot @PeterPetrik !!!

[2019-02-17 08:36] piulintos opened #65 "QGIS crashes when closing the application"
**Describe the bug**
When closing the application, the main window closes, and after some time (≈10 to 20 seconds) a crash report shows up. This happens every time I close QGIS, both with Nightly Builds and versions of the Latest Release.

**Additional information**
- https://www.dropbox.com/s/26abu37gvtotfky/qgis_pr_final-3_4_4_20190214_041422.dmg?dl=0

- **MacOS version:** 10.14.3

- **Installat

[2019-02-17 08:47] piulintos opened #66 "Hidden 'Save Project' window at startup"
**Description of the bug**
When opening QGIS, the app loads, we can see the list with previous projects, but the QGIS opening logo doesn't disappear, and the app doesn't seems to respond. A 'Save Project’ window is hidden behind the QGIS opening logo, and we must hit Return and then cancel the Save option before the QGIS opening logo can be closed and we can use the application.

This happens with

[2019-02-17 10:26] saberraz commented on #65
Could you try with the latest version for QGIS 3.4.4:
https://www.dropbox.com/sh/qcr9a6ry25n4x91/AAD2VLOhb6CllBcptCCMAVz_a/qgis_pr_final-3_4_4_20190214_111602.dmg?dl=0

[2019-02-17 11:29] saberraz commented on #64
@timlinux I tried with the latest PR and all worked fine. Could you give this a try and report back:
https://www.dropbox.com/sh/qcr9a6ry25n4x91/AAD2VLOhb6CllBcptCCMAVz_a/qgis_pr_final-3_4_4_20190214_111602.dmg?dl=0

[2019-02-17 11:34] saberraz commented on #66
I am having similar issue with other tools too. Some windows randomly move to background and I need to minimise QGIS main window to be able to see them.
![disappearing_window](https://user-images.githubusercontent.com/2649047/52912332-e8501380-32a7-11e9-858f-b95dfc4d6990.gif)

[2019-02-17 22:59] piulintos commented on #65
Hi Saber, just tried it. It still crashes after closing.
Here is the crash report:
Process:               QGIS [1496]
Path:                  /Applications/QGIS3.4.4.app/Contents/MacOS/QGIS
Identifier:            QGIS
Version:               3.4.4 (3.4.4 [])
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           QGIS [1496]
User ID:               501

Date/Time:

[2019-02-18 07:04] PeterPetrik commented on #64
duplicate of https://github.com/lutraconsulting/qgis-mac-packager/issues/60

[2019-02-18 07:06] PeterPetrik commented on #65
@piulintos do you have any python plugins installed? Can you try with a clean, new profile (no plugins?). Thanks

[2019-02-18 07:08] PeterPetrik commented on #66
probably duplicate of https://github.com/lutraconsulting/qgis-mac-packager/issues/39

[2019-02-18 07:30] PeterPetrik commented on #63
fixed https://github.com/lutraconsulting/qgis-mac-packager/commit/78c0f26647596f4feca1a60efa95163516736aa7

[2019-02-18 07:30] #63 closed

[2019-02-18 07:45] PeterPetrik commented on #52
fixed in https://www.dropbox.com/s/r0b01sg2393d2ey/qgis_nightly_master_20190217_121012.dmg?dl=0

[2019-02-18 07:46] PeterPetrik commented on #52
@saberraz @Spartacus1 can you please retest?

[2019-02-18 09:07] saberraz commented on #65
I can't reproduce this with a clean user profile.

[2019-02-18 09:40] saberraz commented on #52
Nice work....all working.

[2019-02-18 09:40] #52 closed

[2019-02-18 11:06] PeterPetrik commented on #50
related https://github.com/OSGeo/homebrew-osgeo4mac/issues/706

[2019-02-18 12:51] PeterPetrik commented on #65
me neither

[2019-02-18 15:59] piulintos commented on #65
The problem disappeared with the new user profile, thanks! Now I need to check which plugin is causing the problem. The clean user profile also solved issue [#66](https://github.com/lutraconsulting/qgis-mac-packager/issues/66).

[2019-02-18 16:02] piulintos commented on #66
I believe the issue I reported is not exactly the same as a window randomly moving to background, as the "Save project" window, hidden under the QGIS logo, is activated at startup, before I can even start interacting with QGIS. But I believe the issue has to do with some python plugin, as the problem was solved by testing QGIS on a clean user account (see [#65](https://github.com/lutraconsulting/q

[2019-02-18 16:12] #65 closed

[2019-02-18 16:13] #66 closed

[2019-02-18 18:03] #64 closed

[2019-02-18 23:45] Spartacus1 commented on #52
Working now Peter!
Thank you so much

.

[2019-02-19 13:09] PeterPetrik commented on #50
OK, I found out that we have 2 problems here
1) some scripts (grass76 from homebrew and grass76 from grass installation) used incorrect python/environment to run. This caused various problems to run some tools
2) some grass76 tools are just not working with python3 and this should be fixed in 7.8 release in the future.

I have fixed 1) in changeset https://github.com/lutraconsulting/qgis-mac-packa

[2019-02-19 13:40] saberraz commented on #50
@PeterPetrik I tested some of the more common algs and all working fine. I agree that we should close this ticket. Once GRASS is ported to Python 3, all should be working on macOS too.

[2019-02-19 13:40] #50 closed

[2019-02-19 13:43] PeterPetrik commented on #31
removed

[2019-02-19 13:43] #31 closed

[2019-02-19 13:51] saberraz commented on #45
https://trac.osgeo.org/gdal/wiki/MrSID

[2019-02-19 13:52] saberraz commented on #59
https://trac.osgeo.org/gdal/wiki/ECW

[2019-02-19 14:05] saberraz commented on #59
Example data:
https://www.harita.gov.tr/english/images/urun/I33A1_Ecw.zip

[2019-02-19 14:05] saberraz commented on #45
Example data:
https://www.harita.gov.tr/english/images/urun/I33A1_MrSid.zip

[2019-02-19 14:06] PeterPetrik commented on #45
https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/gdal2-mrsid.rb

https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/mrsid-sdk.rb

[2019-02-19 14:08] PeterPetrik commented on #59
https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/gdal2-ecwjp2.rb

https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/ecwjp2-sdk.rb

[2019-02-19 14:54] saberraz commented on #45
License:
https://download.osgeo.org/osgeo4w/x86_64/release/gdal/gdal-dev/gdal-dev-mrsid/gdal-dev-mrsid-2.3.0-41911.pdf

[2019-02-19 15:28] saberraz commented on #45
[license_mrsid.txt](https://github.com/lutraconsulting/qgis-mac-packager/files/2880661/license_mrsid.txt)

[2019-02-19 15:29] saberraz commented on #59
[license_ecw.txt](https://github.com/lutraconsulting/qgis-mac-packager/files/2880663/license_ecw.txt)

[2019-02-20 09:44] saberraz commented on #56
Shall we have only the latest version available and move others to a folder. If it can be done through script, great. Otherwise, I am happy to do it manually.

[2019-02-20 10:01] PeterPetrik commented on #56
if you move files around it will break links around internet pointing to origin location

I think copy latest (tested) files for point release and LTR to folder "official" or "latest" is better option.

this could be scripted but require few hours of work with dropbox API. if we want to have only tested version there, better to do it manually.

[2019-02-20 10:59] PeterPetrik commented on #59
@saberraz can you please test with https://www.dropbox.com/s/jnty3t88jbs7u0f/qgis_pr_final-3_4_4_20190220_045748.dmg?dl=0

[2019-02-20 11:00] PeterPetrik commented on #56
I think that the binary packages we produce now should be tested and then distribute by other canals (as official/unofficial QGIS packages)

[2019-02-20 11:00] PeterPetrik commented on #45
@fgfletcher @saberraz can you please test with https://www.dropbox.com/s/jnty3t88jbs7u0f/qgis_pr_final-3_4_4_20190220_045748.dmg?dl=0

[2019-02-20 13:06] #59 closed

[2019-02-20 13:09] #45 closed

[2019-02-20 13:30] JesusLopTem commented on #39
Anyone can confirm? Latest nightly version (qgis_nightly_master_20190217_121012) seems to solve the problem on 10.13.6

[2019-02-20 13:34] saberraz opened #67 "Crash when moving dock widgets"
Getting a crash when trying to move dock widgets around (in current LTR build)

[2019-02-20 13:34] saberraz commented on #67
Could you try with a fresh profile?

[2019-02-20 13:44] saberraz commented on #67
Ok, I can confirm the issue. To reproduce:

1- Add a layer
2- Move a panel (e.g. Processing toolbox) and try to dock it somewhere else
3- Complete crash

[2019-02-20 13:53] PeterPetrik commented on #39
I did not change anything that I know of for this fix. Maybe there is something on the OS (there was system update recently)

[2019-02-20 13:53] PeterPetrik commented on #39
@saberraz

[2019-02-20 13:54] PeterPetrik commented on #67
I am not able to reproduce @saberraz do you have a crash report ?

[2019-02-20 13:59] saberraz commented on #67
It looks intermittent and I can't reproduce it consistently.

[2019-02-20 15:38] fgfletcher commented on #45
YES YES YES !

MrSID now works perfectly.

Thank you very much for this wonderful enhancement!
--
Garth Fletcher, President, JacqCAD International
288 Marcel Road, Mason, NH 03048-4704
(603) 878-4749
JacqCAD MASTER website: www.JacqCAD.com

[2019-02-20 18:38] saberraz commented on #45
@fgfletcher we tried to stick with Apple philosophy for our 1-click installer: everything should just work :)

[2019-02-20 23:15] Spartacus1 commented on #67
It's stable in my case. No issues.
The latest qgis_nightly_master_20190220_121012.dmg is very good!! Despite the Grass known issues, everything is working with very stability and the interface seems to be a lot more polished. The latest geometry validation tools in real time are incredibly good. You have to activate them from the layer properties. I've been testing for quite a while with a complex

[2019-02-21 03:33] timlinux opened #68 "Forms always show 'collapsed'"
Whenever I open a form (using your QGIS 3.4 package from Feb  19) the form shows 'collapsed' and needs to be manually sized. Which really kills productivity.

![forms](https://user-images.githubusercontent.com/178003/53141784-eab5b480-35aa-11e9-86e9-27a7a793a568.gif)

[2019-02-21 07:04] PeterPetrik commented on #68
@timlinux do you have them collapsed even if next time you open the same form?

[2019-02-21 07:32] saberraz commented on #68
I am using https://www.dropbox.com/sh/qcr9a6ry25n4x91/AAB-JZZvq5mml3Y90yBrkvPFa/qgis_pr_final-3_4_4_20190220_045748.dmg with a clean user profile and can't reproduce the issue:
![forms](https://user-images.githubusercontent.com/2649047/53151307-cbb72280-35aa-11e9-9578-f53f7f8c9cf7.gif)

[2019-02-21 09:40] Spartacus1 commented on #68
This happens in my case too. Dialogues appear collapsed just as timlinux showed.

[2019-02-21 11:54] saberraz opened #69 "Support for Oracle DB"

[2019-02-21 13:45] dd-a commented on #68
Same for me.

Didier

[2019-02-25 01:31] nyalldawson commented on #58
@PeterPetrik I honestly can't say -- there's an open PR adding a Belgium grid (+5.5 mb) which is likely to be merged soon.

There's also https://github.com/OSGeo/proj-datumgrid/issues/22 -- but discussion there seems to have stalled due to licensing issues. And https://github.com/OSGeo/proj-datumgrid/issues/41 - but that's not going to happen until 2020, and no indication of the grid size.

[2019-02-25 08:33] PeterPetrik opened #70 "upgrade SIP to 4.19.14"
https://issues.qgis.org/issues/20661

[2019-02-26 08:32] PeterPetrik commented on #58
@nyalldawson so to mimic OSGeo4W behaviour, the task now is to add `oceania` folder to the bundle to the location of PROJ data files?

also how can I test that it works (please simple step by step) thanks!

[2019-02-27 03:33] nyalldawson commented on #58
Heh - that's not so simple :P

You'd need
1. latest master of 3.7/3.6/3.4 (with the recent GDA2020 commit)
2. The two layers files from http://lctest.land.vic.gov.au/SpatialDatamart4/gda2020/sample_shape_files.zip
3. From qgis options, CRS settings, ensure "ask for datum transformation if several are available" is checked
4.  Drag and drop both layers simultaneously to a new project
5. you should

[2019-02-27 17:29] fahedAlkhabbas commented on #62
Hi,

When will this be released? I still see it in the latest version.

Thanks

[2019-02-27 17:32] saberraz commented on #62
For 3.4.5:
https://www.dropbox.com/sh/w43am79lkx716p0/AADD9T4Fu7Ml-N0K4_Un964Aa/qgis_ltr_final-3_4_5_20190222_082309.dmg?dl=0

And for 3.6:
https://www.dropbox.com/sh/qcr9a6ry25n4x91/AACoFpx3gw4mzOmhud4Ue4jHa/qgis_pr_final-3_6_0_20190222_124710.dmg?dl=0

[2019-03-01 06:45] PeterPetrik opened #71 "Add OTB provider"
OTB added to 3.7 master, we need to install base library

[2019-03-02 11:43] iungurianu commented on #68
Hi. It seems that the error appears only on the default user profile (form and grass error - see attached). If you set a new profile everything is ok, grass error disappear and form don't collapsed
![screenshot 2019-03-02 at 11 55 46](https://user-images.githubusercontent.com/15980175/53681360-3249e800-3cf1-11e9-9285-3ae7d120f4ef.png)
.

[2019-03-04 08:24] PeterPetrik commented on #68
Closing, @timlinux please reopen if you can replicate it with clean user profile

[2019-03-04 08:24] #68 closed

[2019-03-07 16:20] PeterPetrik opened #72 "Missing PostGIS GDAL driver"

[2019-03-07 16:26] PeterPetrik commented on #72
brew reinstall gdal2 --with-postgresql

[2019-03-08 03:45] nyalldawson commented on #58
Hi @PeterPetrik ! Is there anything I can do to assist with this? I can get access temporarily to a mac for testing, if you'd like me to do that part?

[2019-03-08 11:51] PeterPetrik commented on #58
@nyalldawson homebrew installs by default this https://github.com/Homebrew/homebrew-core/blob/master/Formula/proj.rb#L27 . Do you know if it is the same stuff as in the https://github.com/OSGeo/proj-datumgrid/releases or completely different (we need both, or only that from homebrew, or?)

[2019-03-09 01:39] nyalldawson commented on #58
@PeterPetrik that one is just a handful of random grids -- the useful ones are the separate oceania/europe/north-america packages (and to a lesser extent world, although that one only contains vertical grids and is of limited (no?) current interest to QGIS)

[2019-03-11 02:59] Spartacus1 opened #73 "QGIS NB 3.7 Python error"
While starting up the latest NB, the following error occurs:

"Couldn't load PyQGIS.
Python support will be disabled."

Then all the Pithon related features are disabled (plugins, processing, etc, etc.)

Cheers

[2019-03-11 07:16] PeterPetrik commented on #73
Hi,

which MacOS version?
which installer link?
Any particular message in QGIS log, console, etc?

P.

[2019-03-11 09:44] Spartacus1 commented on #73
Hi Peter

The MacOS version is 10.4.4 (beta).
The "qgis_nightly_master_20190309_121007" version works just fine.
However something change from that version to qgis_nightly_master_20190310_121011 that made it unusable. The only thing that appeared was that error. Today I've uninstalled this version, installed the older one, erased it, installed again the  qgis_nightly_master_20190310_121011 version

[2019-03-11 09:47] PeterPetrik commented on #73
you mean 10.14.4 right?
we did not changed anything during weekend, so I assume it may be something in the qgis code?

[2019-03-11 09:50] Spartacus1 commented on #73
Yup, 10.14.4 (the latest Beta - I'm in Apple's Beta program).
QGIS 3.7 it's working fine now. Still don't know the origin of that glitch but it almost corrected by itself. The only thing that happened is that all the toolbars got activated. I had to deactivate some by hand because, otherwise, QGIS cannot be fitted in the screen area.

[2019-03-11 10:16] PeterPetrik commented on #73
lets reopen when it comes again

[2019-03-11 10:16] #73 closed

[2019-03-12 23:38] Spartacus1 opened #74 "PIL missing"
Both QGIS3.6 and 3.7 miss to use the PIL (pillow) library.
This is noticeable when installing the LECOS plugin.

MacOS version 10.4.5 (Beta)

Works fine in QGIS.ORG 3.6 version.
Cheers

[2019-03-13 12:16] PeterPetrik commented on #41
https://gist.github.com/AsgerPetersen/9ea79ae4139f4977c31dd6ede2297f90#python-dependencies

[2019-03-21 10:19] #72 closed

[2019-03-21 10:19] #74 closed

[2019-03-21 12:45] PeterPetrik commented on #70
right now it is 4.19.8

[2019-03-21 22:46] Spartacus1 opened #75 "Missing QtWebKit and QtWebKitWidgets in PyQt"
Latest "qgis_nightly_master_20190321_152115" built has lots of issues, mainly related with PyQt5.

Examples of headers from errors:

Couldn't load plugin 'DataPlotly' due to an error when calling its classFactory() method  
ModuleNotFoundError: No module named 'PyQt5.QtWebKit'

Couldn't load plugin 'qgis2web' due to an error when calling its classFactory() method  
ModuleNotFoundError: No module n

[2019-03-22 06:02] PeterPetrik commented on #58
@nyalldawson can you try https://www.dropbox.com/s/f8cyxkcdko1h36q/qgis_nightly_master_20190321_152115.dmg?dl=0

those files should be under QGIS.app/Content/Resources/proj/proj/ or something like that

[2019-03-22 06:09] #58 closed

[2019-03-22 06:47] PeterPetrik commented on #75
Hmm, are all those error about QtWebKit and QtWebKitWidgets? They are both deprecated/removed in laterst Qt/PyQt versions. Also all the errors comes from the installed plugins and not from core plugins/QGIS.

see https://stackoverflow.com/questions/37876987/cannot-import-qtwebkitwidgets-in-pyqt5

Can you please confirm that all those errors are from QtWebKitWidgets and QtWebKit? If yes, it is bett

[2019-03-22 07:51] PeterPetrik commented on #75
ah, found out that dep was again renamed in homebrew https://github.com/OSGeo/homebrew-osgeo4mac/blob/master/Formula/osgeo-pyqt-webkit.rb. let me try with that one

[2019-03-22 16:12] Spartacus1 commented on #75
Great Peter. Once you have a working version let me know. The previous one was working quite well.

[2019-03-22 21:52] Spartacus1 commented on #75
The latest one available, compiled today, still shows the same issue. It's very unstable. It crashes a lot, even while opening projects.

[2019-03-25 07:57] PeterPetrik commented on #75
👎  :(  everything in homebrew-osgeo is renamed again so I need to spend some time to make it work again

[2019-03-25 09:31] PeterPetrik opened #78 "use homebrew-core"
Use homebrew-core instead of homebrew-osgeo repository. For missing formulas, add them to homebrew-core.

[2019-03-25 13:24] Spartacus1 commented on #75
These changes are annoying and, at least some of them, happen without any obvious need. Good luck and be patient ;-) At least your stable version is working quite well.

[2019-03-25 13:32] fjperini commented on #75
Sorry for the inconvenience. But know understand that we decided to rename formulas to make other things simpler.
The process took time due to the restrictions in CI and the delay of Homebrew Core in updating many of the dependencies, for example Qt and PROJ (a few hours ago). This leads to rebuild all the bottles.
For this reason and another is that we were working on optimizing the tap for the f

[2019-03-25 13:49] PeterPetrik commented on #75
@fjperini no problem, understand... would it be possible to ping me on peter.petrik@lutraconsulting.co.uk when something like this happens with lets say for how long it will be unavailable so I am aware that I should not try to update repos at that time? Thanks for your work.

[2019-03-25 13:56] fjperini commented on #75
@PeterPetrik I'm sorry if the warning did not arrive. It's something that we were discussing in the repo and we decided to do it.
As for the formulas that qgis-mac-packager requires, they are all ready, but ... given that there are updates that require us to rebuild several bottles, I recommend that you wait until you finish with that.

I hope to have everything ready for today!

[2019-03-25 13:59] PeterPetrik commented on #75
so some of the bottles are not yet ready? In that case please send me mail when everything is OK?

[2019-03-25 14:03] fjperini commented on #75
recently updated proj, that makes that we have to reconstruct all the dependencies.
we will use our own version of proj, to avoid this in the future.
I'll write you when everything is ready.

[2019-03-25 14:20] Spartacus1 commented on #75
Thank you so much fjperini!

[2019-03-25 14:22] PeterPetrik commented on #75
proj6? Are all libraries compatible with it?

[2019-03-25 14:28] fjperini commented on #75
It seems that yes, at least they have managed to build all those that depend on it.
https://github.com/Homebrew/homebrew-core/pull/38215

[2019-03-25 14:35] fjperini commented on #75
there are dependencies that are common to all, and some of their libraries are called with libname.X.dylib .... which makes us need to rebuild all those that depend on them.
To have more control of when to update and not do double work, we will use our versions.
With this we save time and work, which is a lot if we do not do everything in a synchronized way.

[2019-03-26 06:44] PeterPetrik commented on #75
https://github.com/OSGeo/proj.4/wiki/proj.h-adoption-status

not sure if we are ready for proj6

[2019-03-26 07:11] PeterPetrik commented on #75
@fjperini any idea when the build will be ready?

[2019-03-26 08:50] #78 closed

[2019-03-26 09:34] juanfcocontreras opened #79 "Question about nomenclature"
I'm so sorry for the beginner question, but what does QGIS "PR" stand for? I tried to find it, but I can't find any reference. I noticed that LTR stands for Long-Term Release, but PR stands for Production,...?

Thanks in advance!

[2019-03-26 09:50] PeterPetrik commented on #79
PR is for Point Release, see. https://www.qgis.org/en/site/getinvolved/development/roadmap.html#release-schedule

good question!

[2019-03-26 09:50] #79 closed

[2019-03-26 11:21] fjperini commented on #75
I'm on it!
Also a new gdal version came out, so updating everything that depends on it.

[2019-03-26 12:51] fjperini commented on #75
There are problems in Bintray, being an open source account has its limitations.

I will contact the people of Bintray to find a solution, or we will have to pay to have an improved service.

[2019-03-26 12:59] PeterPetrik commented on #75
@fjperini can you write me your email on peter.petrik@lutraconsulting.co.uk please?

[2019-03-27 13:48] 3nids opened #80 "Bundle custom widget lib for Qt Designer"
It would be nice to have the custom widgets available for Qt Designer

1) Run cmake with `-DWITH_CUSTOMWIDGETS=ON`
2) This will place the lib in `QT_PLUGINS_DIR`
3) Then the question is how any existing Qt Designer would find the lib?
  a) The user would have to add the path to the lib before starting Qt Designer
  b) or we ship Qt Designer in the bundle?

[2019-03-27 13:50] PeterPetrik commented on #80
thanks, I do not want to ship Qt Designer as it is quite huge, but probably user will need to find the location and add manually

[2019-03-27 14:03] 3nids commented on #80
could we maybe just provide a launcher that sets the path and launches Qt Designer (would be found in common places)?
more info https://doc.qt.io/qtcreator/adding-plugins.html
would need further testing

[2019-03-27 14:04] PeterPetrik commented on #80
can you explain why qgis user would need this? Is it for custom qt forms in attribute table ?

[2019-03-27 14:07] 3nids commented on #80
either custom UI feature forms, but most likely for plugin development (use of map layer combobox for instance)

[2019-03-29 10:49] PeterPetrik opened #81 "Do not use python2 for dmgbuild"
related to https://github.com/al45tair/dmgbuild/issues/12

[2019-04-01 11:20] PeterPetrik opened #82 "SAGA uses proj 5.2"
SAGA is not compatible with proj6, so we are unable to bundle it until:

https://sourceforge.net/p/saga-gis/bugs/271/

is solved upstream and SAGA is compatible with other dependencies

[2019-04-01 11:24] PeterPetrik commented on #82
ATM, homebrew's saga is dependent on proj4 library, but proj4 library is not longer available in brew.
[code]

[2019-04-02 07:28] PeterPetrik commented on #82
fixed by installation of proj5.2 which is suboptimal. Some strange bugs can happen due to conflicts of proj6 used everywhere else and proj5.2 used here

[2019-04-02 08:04] PeterPetrik commented on #75
https://github.com/lutraconsulting/qgis-mac-packager/issues/82

[2019-04-02 14:19] PeterPetrik commented on #75
@Spartacus1 can you try this one https://www.dropbox.com/s/q4i7jc1vqfospqu/qgis_nightly_master_20190402_081155.dmg?dl=0 ?

[2019-04-02 16:23] Spartacus1 commented on #75
Hi Peter. Seems to be working great. There are two plug-ins that get deactivated but it's clearly a problem linked to those plug-ins. One of them is Profile Tool which is very handy. Considering the mais App, so far so good. Most major problems seem to be gone. I have not tested in detail yet. Let's see how most processing modules perform. Cheers

[2019-04-03 06:17] #75 closed

[2019-04-04 07:12] PeterPetrik commented on #70
for nighlty used osgeo-sip 4.19.15. for PR and LTR it will be used on next release 2019-04-19

[2019-04-04 07:12] #70 closed

[2019-04-11 15:47] edomic opened #83 "Processing toolbox hides the panel below main window"
When you create GeoPackage you can not determine the field length

When using geoprocesses (dissolve, unite attributes by location, etc), select output layer GeoPackage closes the window when giving the name of layer

[2019-04-12 05:45] PeterPetrik commented on #83
I think that the window is just behind the main window. you can just minimize the main window?

[2019-04-12 15:02] edomic commented on #83
Dear Peter

I try en macOS High Sierra y Mojave, macOS Mojave de Window go behind the
main window.
thanks for help

Enrique

El vie., 12 abr. 2019 a las 1:45, Peter Petrik (<notifications@github.com>)
escribió:

--
Enrique Yure Domic Rivadeneira
Cel: (591) 65123753
WhatsApp: +59165123753
Telegram: @EDomic
Skype: quiqueyu
La Paz- Bolivia

[2019-04-23 23:18] palmerj opened #84 "No latest builds"
The last nightly builds were 10 days ago. Also the latest 3.6.X point releases have not been built.

[2019-04-24 05:07] saberraz commented on #84
@palmerj we are in process of moving the infrastructure to QGIS. They should all appear soon here:
https://qgis.org/downloads/macos/

[2019-04-24 07:48] palmerj commented on #84
Thanks. We can close this then.

[2019-04-24 07:48] #84 closed

[2019-04-25 07:00] PeterPetrik commented on #84
this is connected with transition to proj6: commit https://github.com/qgis/QGIS/commit/018f3bc19bbffb3958aba8e3f13208b9589d78da . should be fixed next week

[2019-05-17 10:08] kobben commented on #52
Butthe same problem popped up again in 3_6_0_20190222_124710...!

[2019-05-17 12:01] kobben commented on #52
Now in 3.6 the problem is back again (at least for GDAL)
qgis_pr_final-3_6_0_20190222_124710.dmg
macOS 10.14.4 (18E226)

Tried running GDAL Hillshade:
GDAL command:
gdaldem hillshade /var/folders/zy/jv8h0qxs5blgxh57bn2fk7q00000gp/T/N19W072.hgt /private/var/folders/zy/jv8h0qxs5blgxh57bn2fk7q00000gp/T/processing_03e328d8c11a4fa19d2ca0b9c753325b/6a36f1dd3d5f45b499bd6227b7154483/OUTPUT.tif -of GTiff -

[2019-05-17 12:03] kobben opened #85 "GDAL not working - Bug #52 back?"
Now in 3.6 the problem is back again (at least for GDAL)
qgis_pr_final-3_6_0_20190222_124710.dmg
macOS 10.14.4 (18E226)

Tried running GDAL Hillshade:
GDAL command:
gdaldem hillshade /var/folders/zy/jv8h0qxs5blgxh57bn2fk7q00000gp/T/N19W072.hgt /private/var/folders/zy/jv8h0qxs5blgxh57bn2fk7q00000gp/T/processing_03e328d8c11a4fa19d2ca0b9c753325b/6a36f1dd3d5f45b499bd6227b7154483/OUTPUT.tif -of GTiff -

[2019-05-20 07:42] neteler commented on #50
Just a status update: we finally migrated from SVN to GitHub:

https://github.com/OSGeo/grass

Master is Python-3 compatible (last bugs to be identified), in ~ 2 weeks a new release_branch78 will be created from master.

[2019-05-20 07:45] PeterPetrik commented on #69
The repository is no longer used, because QGIS Mac packaging system is moved under OSGEO/QGIS repository https://github.com/qgis/QGIS-Mac-Packager. Closing this issue...

[2019-05-20 07:45] #69 closed

[2019-05-20 07:48] PeterPetrik commented on #39
The repository is no longer used, because QGIS Mac packaging system is moved under OSGEO/QGIS repository https://github.com/qgis/QGIS-Mac-Packager. Please reopen the issue in the new repository if it is still an issue

[2019-05-20 07:48] #39 closed

[2019-05-20 07:48] #43 closed

[2019-05-20 07:48] PeterPetrik commented on #11
The repository is no longer used, because QGIS Mac packaging system is moved under OSGEO/QGIS repository https://github.com/qgis/QGIS-Mac-Packager. Please reopen the issue in the new repository if it is still an issue

[2019-05-20 07:48] #11 closed

[2019-05-20 07:49] PeterPetrik commented on #48
The repository is no longer used, because QGIS Mac packaging system is moved under OSGEO/QGIS repository https://github.com/qgis/QGIS-Mac-Packager. Please reopen the issue in the new repository if it is still an issue

[2019-05-20 07:49] #48 closed

[2019-05-20 07:49] #56 closed

[2019-05-20 07:49] PeterPetrik commented on #67
The repository is no longer used, because QGIS Mac packaging system is moved under OSGEO/QGIS repository https://github.com/qgis/QGIS-Mac-Packager. Please reopen the issue in the new repository if it is still an issue

[2019-05-20 07:49] #67 closed

[2019-05-20 07:49] #71 closed

[2019-05-20 07:51] PeterPetrik commented on #80
The repository is no longer used, because QGIS Mac packaging system is moved under OSGEO/QGIS repository https://github.com/qgis/QGIS-Mac-Packager. opened issue there

[2019-05-20 07:51] #80 closed

[2019-05-20 07:51] #81 closed

[2019-05-20 07:52] #82 closed

[2019-05-20 07:53] PeterPetrik commented on #83
moved to QGIS repository

[2019-05-20 07:53] #83 closed

[2019-05-20 07:54] PeterPetrik commented on #85
duplicate of https://github.com/qgis/QGIS-Mac-Packager/issues/1

[2019-05-20 07:54] #85 closed

[2019-05-20 07:55] #22 closed